# Basic Data Analysis Project

### PART 1, Basic Python

Read `long-beach.txt` file and convert all the contents similar to `long-beach-output.txt`, where only two records are processed

In [ ]:
# Your code here

## Part 2, Exploratory Data Analysis using Pandas

I provide you a data file named `data.csv`. You need to perform exploratory data analysis. I have also created some checkpoints in csv files like `checkpoint1.csv`, so that you can load the corresponding `.csv` file to achieve the processing done till that point.

In [ ]:
# import necessary libraries here

Read the `data.csv` file and display the contents as shown below

<img src="images/Fig1.PNG" />

In [ ]:
# Your code here

How many records are there in `data.csv`?

In [ ]:
# Your code here

Total 48842 rows and 10 columns in the dataset

In `data.csv`, there are some missing values, which are denoted by `?`. List down all the columns with number of missing values as shown below

<img src="images/Fig2.PNG" />

In [ ]:
# Your code here

Interesting column `Job` and column `Jobclass` contains many missing values. How many records have both these columns missing?

In [ ]:
# Your code here

Replace all `?` occurrences with `NaN`

In [ ]:
# Your code here

### Checkpoint1

List unique enteries in columns `Job`, `Jobclass` and `native-country`

In [ ]:
# Your code here

Replace `NaN` in columns `Job`, `Jobclass` and `native-country` with the most frequently occurred value.

Hint: Statistical function `Mode` can help in this

In [ ]:
# Your code here

In [ ]:
# Second Method

### Checkpoint2

`income` column contains strings `<=50K` and `>50K`. Replace with `0` and `1` respectively.

In [ ]:
# Your code here

List down the data types of every column

In [ ]:
#Your code here

Convert column `income` data type to `int32`

In [ ]:
#Your code here

### Checkpoint3

Plot the heat map of the corelation between all the numeric columns in the dataframe as shown below

<img src="images/Fig3.PNG" />

In [ ]:
# Your code here

The heatmap shows that there is a relation between the `income` and `age` column. Plot a box-plot as shows in the figure below

<img src="images/Fig4.PNG" />

In [ ]:
#Your code here

The `Education-level` and `income` are usually related. Plot a bar chart that shows the count of people who have a certain level in education and have income `<=50K` and `>50K` as shows below in figure

<img src="images/Fig5.PNG" />

In [ ]:
#Your code here

#### Bonus question 
Plot a similar plot as above where instead of `count`, it gives the `percentage` as shown in figure below

<img src="images/Fig6.PNG" />

Similar plot for `Job` and `income` as shown in figure below

<img src="images/Fig7.PNG" />

In [ ]:
#Your code here

#### Bonus question 
Plot a similar plot as above where instead of `count`, it gives the `percentage` as shown in figure below

<img src="images/Fig8.PNG" />

In [ ]:
#Your code here

There are 3 enteries of `marital-status` where the person is married (Married-A-spouse, Married-B-spouse and Married-C-spouse). Make a new column `Married`, that is `1` where a person is married otherwise '0' as shown in figure below

<img src="images/Fig9.PNG" />

In [ ]:
#Your code here

Plot a bar that counts the persons that have income `<=50K` and `>50K` and married or not as shown in figure below.

<img src="images/Fig10.PNG" />

Write a one line, what this plot describes

In [ ]:
#Your code here