<h1  align="center">Practical Learning Data Science and Machine Learning - Assignment 01 </h1>

1. What is the difference between a data analyst and a data scientist?
<br>
2. Write a Python program to display the version of Python you are using.
<br>
3. Write a program in which you create five variables on the same line.
<br>
4. Write a program in which you declare a variable, check its type, and display its ID.
<br>
5. Write a program in Python that uses variables to perform a sum equal to 44.
<br>
6. Write a Python program to calculate the radius of a circle.
**Sample : radius = 5**  
**Output : 78.5**     
<br>

7. Write a Python program that prints the user's first and last name and concatenates them.
**Sample : first_name = "Ehtisham"**  
**Sample : last_name = "Sadiq"**   
**Output : output = "Ehtisham Sadiq"** 

<br>

<br>

8. Is the variable name `Sales` the same as `sales`? Why or why not?

<br>

9. Is the following assignment statement valid or invalid? If it is invalid, why? `72 = amount`
<br>

10. What will be displayed by the following program?   
    my_value = 99   
    my_value = 0   
    print(my_value)   
    
<br>

11. Write a Python statement that assigns the sum of 10 and 14 to the variable `total`.

<br>

12. Write a Python statement that subtracts the variable `down_payment` from the variable `total` and assigns the result to the variable `due`.

<br>

13. Write a Python statement that multiplies the variable `subtotal` by 0.15 and assigns the result to the variable `total`.

### Question no 02

In [4]:
# Here write your code
import sys
print(sys.version)

3.10.6 (tags/v3.10.6:9c7b4bd, Aug  1 2022, 21:53:49) [MSC v.1932 64 bit (AMD64)]

### Question no 03

In [ ]:
# Here write your code
a, b, c, d, e = 0, 2.4, "foo", [0, 1, 2, 3], {"my_key": "my_value"}

### Question no 04

In [12]:
# Here write your code
foo = "bar"
print(f"variable type is {type(foo)}")
print(f"variable ID is {id(foo)}")

variable type is <class 'str'>
variable ID is 2336544184368

### Question no 05

In [13]:
# Here write your code
a, b = 20, 24
c = a + b
print(c)

44

### Question no 06

In [16]:
# Here write your code
import math

radius = input("Please input a radius")
try:
    radius = float(radius)
    print(f"The area of a circle with radius {radius} is {math.pi*radius**2}")
except ValueError:
    print(f"Sorry, {radius} is not a valid number.")

Sorry, 5.44h is not a valid number.

5.0

### Question no 07

In [20]:
# Here write your code
first_name = input("Please input your first name: ")
last_name = input("Please input your last name: ")
full_name = first_name + " " + last_name
# or:
# full_name = f"{first_name} {last_name}"
full_name

'leo behe'

### Question no 08

In [21]:
# Here write your code
"""
No, they are not the same- Python is case sensitive, and a variable with a capitalized first letter will be treated 
differently than a variable with a lowercase first letter.
"""

'\nNo, they are not the same- Python is case sensitive, and a variable with a capitalized first letter will be treated \ndifferently than a variable with a lowercase first letter.\n'

### Question no 09

In [ ]:
# Here write your code
"""
72 = amount is invalid, since the assignment operator can only assign a literal to a variable. 72 is not a valid variable name, since it starts 
with a digit, and amount is not a valid string literal, since it is not enclosed in quotation marks.
"""

### Question no 10

In [ ]:
# Here write your code
"""
This program will print 0, because the initial assignment of 99 is overwritten by the subsequent assignment of 0.
"""

### Question no 11

In [22]:
# Here write your code
total = 10 + 14

### Question no 12

In [ ]:
# Here write your code
due = total - down_payment

### Question no 13

In [ ]:
# Here write your code
total = subtotal * 0.15