<h1 align="center">Practical Learning Data Science and Machine Learning - Assignment 05</h1>

## Question no 01:

Suppose `x` and `y` are variables, each containing a number. Write a code fragment that assigns the value of `x` to `y` if `x` is positive, and assigns `0` to `y` otherwise.

In [ ]:
# Here write your answer
y = x if x > 0 else 0

## Question no 02:
Write a Python program prints all integers that aren’t divisible by either 2 or 3 and lies between 1 and 50.

In [1]:
# Here write your answer
for i in range(1,51):
    if (not i % 2 == 0) and (not i % 3 == 0):
        print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

## Question no 03:
The program takes a number n and computes this series n+nn+nnn+nnnn+....+nnnnnnnnnn. Also store result of each term of series in a list. 

**Input** n = 12

**Output**  `[12, 144, 1728, 20736, 248832, 2985984, 35831808, 429981696, 5159780352, 61917364224, 743008370688, 8916100448256]`

In [ ]:
# Here write your answer

In [7]:
# assuming you mean n*n + n*n*n + n*n*n*n +.... up to n^n, but it's not clear 
n = 12
terms = []
for i in range(n):
    terms.append( n**(i+1) )

print(terms)
print(sum(terms))

[12, 144, 1728, 20736, 248832, 2985984, 35831808, 429981696, 5159780352, 61917364224, 743008370688, 8916100448256]
9726655034460

432

## Question no 04:
The program takes in an integer and prints the highest and smallest divisor of the given integer.
##### Hint : use loop and list

**Input**: Number = 15

**Output**: 

`Highest Divisor of 15 is :  15` <br>
`Smallest Divisor of 15 is :  3`

In [ ]:
# Here write your code
s1 = int(input("Please enter an integer"))

## Question no 05:

### Book Club Points
Serendipity Booksellers has a book club that awards points to its customers based on the
number of books purchased each month. The points are awarded as follows:     
- f a customer purchases 0 books, he or she earns 0 points.
- If a customer purchases 1 book, he or she earns 5 points.
- If a customer purchases 2 books, he or she earns 15 points.
- If a customer purchases 3 books, he or she earns 30 points.
- If a customer purchases 4 or more books, he or she earns 60 points.   
Write a program that asks the user to enter the number of books that he or she has purchased this month and displays the number of points awarded.

In [ ]:
# Here write your answer

## Question no 06:
Create a dictionary whose keys are month name and whose values are number of days in the corresponding month:   
- (a) Ask the user to enter the month name and use the dictionary to tell how many days are in month.
- (b) Print out all of the keys in alphabetical order.
- (c) Print out all of the month with 31 days.
- (d) Print out the (key - value) pair sorted  by the number of the days in each month. 


**Sample Output**

1.Enter month name and check number of days in given month :  <br>
2.Enter to print all the keys in alpha-betical order : <br>
3.Enter to print all the months with 31 days : <br>
4.Enter to print sorted dictionary according to number of days in each month : <br>
5.Enter to exit program. <br>

In [ ]:
# Here write your program
yearDict = {
    'January':31,
    'February':28,
    'March' : 31,
    'April' : 30,
    'May' : 31,
    'June': 30,
    'July': 31,
    'August' : 31,
    'September' : 30,
    'October' : 31,
    'November' : 30,
    'December': 31}

## Question no 07:

### Roman Numerals
Write a program that prompts the user to enter a number within the range of 1 through 10.
The program should display the Roman numeral version of that number. If the number is
outside the range of 1 through 10, the program should display an error message. The following table shows the Roman numerals for the numbers 1 through 10

|Number|       Roman Numeral|
|------|--------------------|
| 1    |         I          |
| 2    |         II         |
| 3    |         III        |
| 4    |         IV         |
| 5    |         V          |
| 6    |         VI         |
| 7    |         VII        |
| 8    |         VIII       |
| 9    |         IX         |
| 10   |         X          |

In [ ]:
# Here write your answer

## Question no 08:
Write a Python Program that take a string from user and count the number of vowels present in a string using sets.
##### Sample : "Ehtisham"
##### Output : 3

In [ ]:
# Here write your answer

## Question no 09:

#### Automated Teller Machine
When you use an automated teller machine (ATM) with your bank card, you need 
to use a personal identification number (PIN) to access your account. If a user fails 
more than three times when entering the PIN, the machine will block the card. 
Assume that the user’s PIN is “1234” and write a program that asks the user for the 
PIN no more than three times, and does the following:
- If the user enters the right number, print a message saying, “Your PIN is correct”, and end the program.
- If the user enters a wrong number, print a message saying, “Your PIN is incorrect” and, if you have asked for the PIN less than three times, ask for it again.
- If the user enters a wrong number three times, print a message saying “Your bank card is blocked” and end the program.


**Input** `pin = 1234`

**Output**

Enter your PIN code : 2345 <br>
Your Pin is incorrect! <br>
Again enter your PIN code : 5432 <br>
Your Pin is incorrect! <br>
Again enter your PIN code : 8732 <br>
Your bank card is blocked! <br>

In [ ]:
# Here write your answer

## Question no 10:

Given a dictionary 
gradeCounts = { "A": 8, "D": 3, "B": 15, "F": 2, "C": 6 }
write the Python statement(s) to print:
- All the keys.
- All the values.
- All the key and value pairs.
- All of the key and value pairs in key order.
- The average value of dictionary values
- a chart similar to the following in which each row contains a key followed by a number of asterisks equal to the key’s data value. The rows should be printed in key order, as shown below.     
#### A: * * * * * * * *     
#### B: * * * * * * * * * * * * * * *   
#### C: * * * * * *    
#### D: * * *    
#### F: * *

In [ ]:
gradeCounts = { 
    "A": 8, "D": 3, "B": 15, "F": 2, "C": 6 
}

In [ ]:
def main():
    while True:
        try:
            choice = int(input("""
            1: Enter to get keys of a dictionary  \n
            2: Enter to get values of a dictionary  \n
            3: Enter to get key-value pairs of a dictionary \n
            4: Enter to get dictionary according to sorted values \n
            5: Enter to get average value of all the values of dictionary \n
            6: Enter to get asterisks pattern of all the values of dictionary \n
            7: Enter to terminate program execution \n
            """))
        except:
            print("Please, provide valid inputs!")

if __name__ == "__main__":
    main()

## Question no 11:
Write a program that rotates the element of a list so that the element at the first index moves to the second index, the element in the second index moves to the third index, etc., and the element in the last index moves to the first index.


#### Input : list1 = [32, 4, 54, 6, 65, 547, 5, 47]
#### Output: list1 = [47, 32, 4, 54, 6, 65, 547, 5]

In [ ]:
# Here write your answer

## Question no 12:
#### File Analysis:
Write a program that reads the contents of two text files(File1.txt, File2.txt) and compares them in the following ways:    
- It should display a list of all the unique words contained in both files.
- It should display a list of the words that appear in both files.
- It should display a list of the words that appear in the first file but not the second.
- It should display a list of the words that appear in the second file but not the first.
- It should display a list of the words that appear in either the first or second file but not both.
###### Hint: Use set operations to perform these analyses and you can also use loops.

To Read a data from a file you can use following syntax:

### First Method:

In [ ]:
# Display content of first file-1
!cat File1.txt

In [ ]:
# Display content of first file-2
!cat File2.txt

In [ ]:
with open("File1.txt", 'r') as f1:
    data1 = f1.read()
    data1 = data1.split()
    print(data1[:20])

with open("File2.txt", 'r') as f2:
    data2 = f2.read().split()
    print(data2[:20])

In [ ]:
# Here write your answer

## Question no 13:

#### Write a program that prints a multiplication table, like this:    
 1 2 3 4 5 6 7 8 9 10     
 2 4 6 8 10 12 14 16 18 20     
 3 6 9 12 15 18 21 24 27 30     
 . . .    
 10 20 30 40 50 60 70 80 90 100

In [ ]:
# Here write your code

## Question no 14:
Write a program that reads a word and prints the number of vowels in the word. For 
this exercise, assume that `a e i o u`  are vowels. For example, if the user provides the 
input `ehtisham`, the program prints 3 vowels

In [ ]:
# Here write your answer

## Question no 15:
#### Pig Latin
Write a program that accepts a sentence as input and converts each word to `Pig Latin.` In
one version, to convert a word to Pig Latin you remove the first letter and place that letter at the end of the word. Then you append the string `ay` to the word. Here is an example:
- English: I SLEPT MOST OF THE NIGHT
- Pig Latin: IAY LEPTSAY OSTMAY FOAY HETAY IGHTNAy

### First Method

### Second Method