<h1 align="center">Practical Learning Data Science and Machine Learning - Assignment 04</h1>

## Question 01:
Look at the following statement: 

numbers = [10, 20, 30, 40, 50]

- How many elements does the list have?
- What is the index of the first element in the list?
- What is the index of the last element in the list?

In [8]:
# Here write your answer
"""
5 elements,
first element is at 0,
last element is at 4
"""

'\n5 elements,\nfirst element is at 0,\nlast element is at 4\n'

## Question 02:
Look at the following statement:    

numbers = [1, 2, 3]

- What value is stored in numbers[2]?
- What value is stored in numbers[0]?
- What value is stored in numbers[-1]?

In [9]:
# Here write your answer
"""
3,
1,
3
"""

'\n3,\n1,\n3\n'

## Question 03:

Assume the lists `numbers1` has 100 elements and `numbers2` is an empty list. Write
code that copies the values in numbers1 to numbers2.

In [10]:
# Here write your answer
import copy

numbers1 = list(range(1,101))
numbers2 = copy.deepcopy(numbers1)
# or if you want me to do it manually,
numbers2 = [n for n in numbers1]

## Question 04:

### Number Analysis Program

Design a program that asks the user to enter a `series of 5 numbers`. The program should
store the numbers in a list and then display the following data:

- The lowest number in the list
- The highest number in the list
- The total of the numbers in the list
- The average of the numbers in the list

In [11]:
# Here write your answer
numbers_string = input("Please enter a series of 5 numbers separated by commas.")
numbers = [float(n) for n in numbers_string.split(",")]

lowest = highest = numbers[0]
sum = 0
for n in numbers:
    if n < lowest:
        lowest = n
    if n > highest:
        highest = n
    sum += n

average = sum / len(numbers)

print(f"The lowest number is {lowest}, the highest number is {highest}, the total sum is {sum}, and the average is {average:.2f}")

ValueError: could not convert string to float: ''

## Question 05:

How do you perform the following tasks with lists in Python

- Test that two lists contain the same elements in the same order.
- Copy one list to another. 
- Fill a list with zeroes, overwriting all elements in it.
- Remove all elements from a list.

In [ ]:
# part no 01
l1 = [1,3,3,7]
l2 = [1,3,3,7]

# equality operator
l1 == l2

True

In [ ]:
# part no 02

# list comprehension
list_copy = [n for n in l1]
list_copy

[1, 3, 3, 7]

In [ ]:
# part no 03
list_zeroes = [0 for n in l1]
list_zeroes

[0, 0, 0, 0]

In [ ]:
# part no 04
while (list_copy):
    list_copy.pop(-1)
    print(list_copy)

[1, 3, 3]
[1, 3]
[1]
[]

## Question 06:

Write a program that initializes a list with ten random integers and then prints four lines of output, each containing:

- Every element at an even index.
- Every even element.
- All elements in reverse order.
- Only the first and last elements.

In [ ]:
# Here write your answer
import random
random_list = [random.randint(1,1000) for i in range(10)]
random_list

[59, 501, 812, 959, 642, 541, 710, 47, 31, 789]

In [ ]:
for i in range(len(random_list)):
    if not i % 2:
        print(f"{random_list[i]} ", end="")

print()
for n in random_list:
    if not n % 2:
        print(f"{n} ", end="")

print()
reverse_string = ""
for n in random_list:
    reverse_string = f"{n} {reverse_string}"
print(reverse_string)

59 812 642 710 31
812 642 710
789 31 47 710 541 642 959 812 501 59

## Question 07:
Write a function `removeMin` that removes the minimum value from a list without using the `min` function or `remove` method.

In [ ]:
# 1st Method
# Here write your answer
random_list = [random.randint(1,1000) for i in range(20)]
min_val = random_list[0]
for n in random_list:
    if n < min_val:
        min_val = n

new_list = [n for n in random_list if not n==min_val]
print(random_list)
print(new_list)

[140, 113, 998, 923, 747, 930, 535, 44, 473, 315, 813, 672, 212, 341, 709, 302, 41, 343, 291, 113]
[140, 113, 998, 923, 747, 930, 535, 44, 473, 315, 813, 672, 212, 341, 709, 302, 343, 291, 113]

In [ ]:
# 2nd Method using for loop and if statement

## Question 08:

One acre of land is equivalent to `43,560` square feet. Write a program that asks the user 
to enter the total square feet in a tract of land, and then calculates and display the number of acres in the tract.


$$ \mathbf{Number of Acres = \frac{Total\ Square\ Feet}{43,560}}$$

In [ ]:
# Here write your answer
sqft = int(input("Please enter a number of square feet"))
print(f"This is equal to {sqft/43560} acres")

This is equal to 1.2483471074380166 acres

## Question 09:


There are three seating categories at a stadium. For a softball game, `Class A` seats cost 
$ \$15$, `Class  B`  seats  cost $ \$12 $, and `Class C` seats cost $ \$9$. Write a program that asks how many  tickets for each class of seats were sold, and then displays the amount of income 
generated from ticket sales.
.

In [ ]:
# Here write your answer
class_a = int(input("How many Class A tickets were sold?"))
class_b = int(input("How many Class B tickets were sold?"))
class_c = int(input("How many Class C tickets were sold?"))

total = class_a * 15 + class_b * 12 + class_a * 9

## Question 10:
Write a program in which create a list of 10 random integers and find the product of all elements of a list.

**First Method:**
Using Functions and Loops

In [ ]:
random_list = [random.randint(1,10) for i in range(10)]

product = 0
for n in random_list:
    if not product:
        product = n
    else:
        product = product * n

print(product)

174960

**Second Method :**

- Firstly, we will get a List of 10 random integers using `random` module
- Then we use functions and loops to find product of all the numbers of the list.

## Question 11:

Given the set definitions below, answer the following questions:    

set1 = { 1, 2, 3, 4, 5 }   
set2 = { 2, 4, 6, 8 }    
set3 = { 1, 5, 9, 13, 17 }


- Is set1 a subset of set2?
- Is the intersection of set1 and set3 empty?
- What is the result of performing set union on set1 and set2?
- What is the result of performing set intersection on set2 and set3?
- What is the result of performing set intersection on all three sets?
- What is the result of performing the set difference on set1 and set2 (set1 â€“ set2)?
- What is the result of the instruction set1.discard(5)? 
- What is the result of the instruction set2.discard(5)?

In [ ]:
# Here write your answer
set1 = {1,2,3,4,5}
set2 = {2,4,6,8}
set3 = {1,5,9,13,17}

In [ ]:
# part no 01
"""No"""

# part no 02
"""No"""

# part no 03
print(set1.union(set2))

# part no 04:
print(set2.intersection(set3))

# part no 05
print((set1.intersection(set2)).intersection(set3))

# part no 06
print( set1 - set2 )

# part no 07
print( set1.discard(5) )
print( set1 )

# part no 08
print( set2.discard(5) )
print( set2 )

{1, 2, 3, 4, 6, 8}
set()
set()
{1, 3}
None
{1, 2, 3, 4}
None
{8, 2, 4, 6}

## Question 12:

Given three sets, `set1`, `set2`, and `set3`, write Python statement(s) to perform the following actions: 

- Create a new set of all elements that are in set1 or set2, but not both.
- Create a new set of all elements that are in only one of the three sets set1, set2, and set3.
- Create a new set of all elements that are in exactly two of the sets set1, set2, and set3.
- Create a new set of all integer elements in the range 1 through 25 that are not in set1.
- Create a new set of all integer elements in the range 1 through 25 that are not in any of the three sets set1, set2, or set3.
- Create a new set of all integer elements in the range 1 through 25 that are not in all three sets set1, set2, and set3.

Here you can also manully add elements in the sets by using loops.     
But in this case, use `random` module to generate all sets

In [87]:
# random
import random
set1 = set()
set2 = set()
set3 = set()
for n in range(10):
    set1.add(random.randint(1,50))
    set2.add(random.randint(1,50))
    set3.add(random.randint(1,50))

print(set1)
print(set2)
print(set3)

{1, 9, 44, 14, 48, 20, 24, 27, 29, 30}
{1, 34, 4, 7, 41, 20, 26, 29}
{5, 6, 10, 44, 45, 46, 47, 48, 29}

In [88]:
# Here write your answer
#     part no 01
s1 = set1 ^ set2
  
#     part no 02
s2 = s1 ^ set3
 
#     part no 03
i1 = set1.intersection(set2)
i2 = set1.intersection(set3)
i3 = set2.intersection(set3)

s3 = (i1 | i2 | i3) - (set1 & set2 & set3)

#     part no 04
s4 = set()
[s4.add(i) for i in range(1, 26) if not i in set1]
print(s4)

#     part no 05
s5 = set()
[s5.add(i) for i in range(1, 26) if (not i in set1) and (not i in set2) and (not i in set3)]
print(s5)
#     part no 06
s6 = set() 
tmp = (set1 | set2 | set3)
[s5.add(i) for i in range(1, 26) if not i in tmp]
print(s6)

{2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 21, 22, 23, 25}
{2, 3, 8, 11, 12, 13, 15, 16, 17, 18, 19, 21, 22, 23, 25}

## Question 13:

Write a program that prompts the user to enter `two strings` and then prints the following:

- The characters that are common to both strings.
- The characters that appear in one string but not the other.
- The characters that do not appear in either string.

You can achieve this by utilizing the `set` function to convert a string into a set of characters.



**Test Case:**

Imagine two strings:

- String A: "hello"
- String B: "world"

The expected outputs would be:

- Common characters: "o"
- Unique characters in String A: "hel"
- Unique characters in String B: "wrld"

In [92]:
# str1 = input("Please enter a string")
# str2 = input("Please enter another string")
str1 = "frhiuehytgkroeo"
str2 = "fjriegfrvahgrfon"

s1 = set(list(str1))
s2 = set(list(str2))
print( s1 | s2 )
print( s1 ^ s2 )

# > The characters that do not appear in either string.
# What does this mean??

{'h', 'j', 'v', 'e', 'u', 'i', 'f', 't', 'o', 'k', 'g', 'y', 'n', 'a', 'r'}

**First Method:**

Using built-in set functions

In [ ]:
# Here write your code

**Second Method :**

Using Loops and if statement

In [94]:
# Here write your code
print( [c for c in str1 if c in list(str2)] )
print( [c for c in list(str1 + str2) if not (c in str1 and c in str2) ] )

['f', 'r', 'h', 'i', 'e', 'h', 'g', 'r', 'o', 'e', 'o']
['u', 'y', 't', 'k', 'j', 'v', 'a', 'n']

'frhiuehytgkroeofjriegfrvahgrfon'

## Question 14:


### Rainfall Statistics

Develop a program that allows the user to input the total rainfall for each of the 12 months into a list. The program should then compute and present the following information:

- Total rainfall for the entire year.
- Average monthly rainfall.
- Months with the highest and lowest amounts of rainfall.


**Test Case:**

Imagine the following monthly rainfall data (in inches):

- January: 2
- February: 3
- March: 4
- April: 2
- May: 1
- June: 5
- July: 6
- August: 4
- September: 3
- October: 2
- November: 1
- December: 2

**Expected Results:**
- Total annual rainfall: 35 inches
- Average monthly rainfall: 2.92 inches
- Highest rainfall month: July
- Lowest rainfall month: May

In [98]:
# Here write your answer
# s1 = input("Please enter a list of the rainfall for each month separated by commas")
s1 = "43,8,1,654,2,47,54.3,76,9,13,5,11.2"
l1 = [float(n) for n in s1.split(",")]
print(sum(l1))
print(sum(l1) / len(l1))
highest = l1[0]
lowest = l1[0]

for n in l1:
    if n > highest:
        highest = n
    if n < lowest:
        lowest = n
print(highest)
print(lowest)

923.5
76.95833333333333
654.0
1.0

## Question 15:

Given the tuple `T1 = (1, 23, 4, 5, "A", ["C", "D"], (23, 45), 45)`:

- a. Determine the total number of elements in the given tuple.
- b. Find the index of a specific given element.
- c. Find the occurrence count of a specific given element.
- d. Print the characters "CC" using elements from the tuple.
- e. Display the first 5 elements of the tuple.
- f. Display the last 5 elements of the tuple.
- g. Demonstrate how to obtain the output `(45, ['C', 'D'], 5)` from the given tuple.
- h. Concatenate the elements of the tuples present at index 4 and 5.
- i. Apply the `max()` function on the given tuple and note the output.

In [99]:
T1 = (1, 23, 4, 5, "A", ["C", "D"], (23, 45), 45)

In [ ]:
# Do you want the total number of top-level elements or do you want the flattened number of elements??

# part no 01
l1 = []
for e in T1:
    if isinstance(e, tuple) or isinstance(e, list):
        l1.extend(e)
    else:
        l1.append(e)

print(len(l1))

# part no 02
print(T1.index("A"))

# part no 03
print(l1.count(23))

# part no 04
# what does this mean??
print(T1[5][0]+T1[5][0])

# part no 05
print(T1[:5])

# part no 06
print(T1[-5:])

# part no 07
print((T1[-1],)+(T1[-3],)+(T1[3],))

# part no 08
# there is no tuple present at index 4??
print((   T1[4], T1[5]    ))

# part no 09
max(T1)
"""appears to be unable to support different datatypes without type conversion"""

10
4
2
CC
(1, 23, 4, 5, 'A')
(5, 'A', ['C', 'D'], (23, 45), 45)
(45, ['C', 'D'], 5)
('A', ['C', 'D'])

TypeError: '>' not supported between instances of 'str' and 'int'

(2,)