<h1 align="center"> Practical Learning Data Science and Machine Learning - Assignment 06 </h1>

> **Note: Solve all the questions using user-defined functions and loops. Try to avoid using built-in functions.**

## Question No 01:

**You have been given a file named `File.txt`. Perform the following operations on the file data.**

- Read all the content of the file and store it in a `list`.
- Remove `spaces` from each element of the list and also remove a period (`.`) if a word/element contains one.
- Create a dictionary that stores the `key` as a word/element and the `value` as the occurrence/frequency of that word/element in the list.
- Sort the dictionary according to the words/elements with higher counts/occurrences.
- Display a dictionary containing words with values ranging between 15 and 20.

In [4]:
# Here is a syntax to read a file

with open('File.txt', 'r') as fl:
    data = fl.read()
    print(type(data))
    print(data)

In [1]:
# Here write your code

## Question no 02:

Write a program in which take a sentence from user containing n words/strings. Remove all duplicates words/strings which are similar to each others.

#### Sample Output:
- Input : Python is great and Java is also great
- Output : is also Java Python and great

**First Method**

In [5]:
# Here write your answer

**Second Method:**

By using `for` loop and `list`.

## Question no 03:

Print an inverted star pattern of the desired size.

Below is an inverted star pattern of size n=5. This pattern consists of 5 horizontal lines or rows of stars:

In [11]:
"""
   *****
    ****
     ***
      **
       *
       *
      **
     ***
    ****
   *****
"""

In [12]:
# Here write your answer

## Question no 04:

Write a function called `half_and_half` that takes a list as input and modifies the list so that the elements of the second half are now in the first half.


### Sample : 
##### Case 1:
if the size of list is even and content of list is as follows :     
my_list = [10,20,30,40,50,60]     
The output: [40,50,60,10,20,30]    


##### Case 2:    
if the size of list is odd and content of list is as follows :     
my_list = [10,20,30,40,50,60,70]    
The output: [50,60,70,40,10,20,30]

In [13]:
# Here write your answer

## Question no 05:

Write a function that takes a dictionary as an argument. If the dictionary contains duplicate values, return an empty dictionary; otherwise, return a new dictionary where the values become the keys, and the keys become the values.

### Sample : 
- Input : {'a': 10, 'b': 20, 'c': 20}
- Output : {}

In [6]:
# Here write your answer

## Question no 06:

### Test Average and Grade
Write a program that asks the user to enter five test scores. The program should display a letter grade for each score and the average test score. Write the following functions in the program:

- `calc_average` : This function should accept five test scores as arguments and returnthe average of the scores.
- `determine_grade` : This function should accept a test score as an argument andreturn a letter grade for the score, based on the following grading scale:

|Score   |       Letter Grade |
|--------|--------------------|
|90-100  |         A          |
| 80-89  |         B          |
| 70-79  |         C          |
| 60-69  |         D          |
|Below 60|         F          |

In [7]:
# Here write your asnwer

## Question no 07:
#### Name and Email Addresses
Write a program that keeps names and email addresses in a dictionary as key-value pairs.
The program should display a menu that lets the user look up a personâ€™s email address, add
a new name and email address, change an existing email address, and delete an existing
name and email address.
-               Menu 
- 1.Check Person's Email Address
- 2.Add new name and email
- 3.Change an existing email
- 4.Delete an existing email

In [8]:
# Here write your answer

## Question no 08:

### Alphabetic Telephone Number Translator
Many companies use telephone numbers like 555-GET-FOOD so the number is easier for
their customers to remember. On a standard telephone, the alphabetic letters are mapped
to numbers in the following fashion:   
A, B, and C = 2     
D, E, and F = 3     
G, H, and I = 4    
J, K, and L = 5    
M, N, and O = 6    
P, Q, R, and S = 7    
T, U, and V = 8    
W, X, Y, and Z = 9    
Write a program that asks the user to enter a 10-character telephone number in the format
XXX-XXX-XXXX. The application should display the telephone number with any alphabetic characters that appeared in the original translated to their numeric equivalent.
### Sample: 
- Input: 555-GET-FOOD 
- Output: 555-438-3663

In [9]:
# Here write your answer

## Question no 09:
### Color Mixer
The colors red, blue, and yellow are known as the primary colors because they cannot be
made by mixing other colors. When you mix two primary colors, you get a secondary color,
as shown here: 
- When you mix red and blue, you get purple.
- When you mix red and yellow, you get orange.
- When you mix blue and yellow, you get green.    
    
Design a program that prompts the user to enter the names of two primary colors to mix.
If the user enters anything other than `red`, `blue` or `yellow` the program should display an error message. Otherwise, the program should display the name of the secondary
color that results.

In [11]:
# Here write your answer

## Question no 10:
Write a function which takes a list of n-integers from user and display third largest element of the list without using built-in functions and also without using slicing.
### Sample :
- Input: [4,5,65,7,7,8,8,55,49]
- Output: 49

In [20]:
# Here write your answer

## Question no 11:
#### Make a function that encrypts a given input with these steps:
Input: `"apple"`   
Step 1: Reverse the input: `"elppa"`  
Step 2: Replace all vowels using the following chart:    
`a => 0`    
`e => 1`  
`i => 2`  
`o => 2`  
`u => 3`  
`# "1lpp0"`  
Step 3: Add `"aca"` to the end of the word: `"1lpp0aca"`  
Output: `"1lpp0aca"`  
**Examples:**   
`encrypt("banana") âžž "0n0n0baca"`  
`encrypt("karaca") âžž "0c0r0kaca"`  
`encrypt("burak") âžž "k0r3baca"`  
`encrypt("alpaca") âžž "0c0pl0aca"`

In [12]:
# Here write your answer

## Question no 12:

### Financial Institution

Financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

In [14]:
| Days                | Bonus                        |
|---------------------|------------------------------|
| 0 to 32 days        | Zero                         |
| 33 to 40 days       | SGD$325 per billable day     |
| 41 to 48 days       | SGD$550 per billable day     |
| Greater than 48 days| SGD$600 per billable day     |

SyntaxError: invalid syntax (4081291047.py, line 1)

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:  
`32*0 + 8*325 + 5*550 = 5350`  
Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

**Examples:**  
`bonus(15) âžž 0`  
`bonus(37) âžž 1625`  
`bonus(50) âžž 8200`

In [13]:
# Here write your answer

## Question no 13:

#### Implement a Python program to generate all sentences where subject is in ["Pakistanis", "Indians"] and verb is in ["Play", "watch"] and the object is in ["Baseball","cricket"].
#### Hint: Subject,Verb and Object should be declared in the program as shown below.
subjects=["Pakistanis ","Indians"]    
verbs=["play","watch"]     
objects=["Baseball","Cricket"]    
#### Output should come as below:
- Pakistanis play Baseball.
- Pakistanis play Cricket.
- Pakistanis watch Baseball.
- Pakistanis watch Cricket.
- Indians play Baseball.
- Indians play Cricket.
- Indians watch Baseball.
- Indians watch Cricket.

In [15]:
# Here write your answer

## Question no 14:
A non-governmental organization needs a program to calculate the amount of finan cial assistance for needy families. The formula is as follows:
- If the annual household income is between 30000 dollars and 40000 dollars and the household has at least three children, the amount is 1000 dollars per child.
- If the annual household income is between 20000 dollars and 30000 dollars and the household has at least two children, the amount is 1500 dollars per child.
- If the annual household income is less than 20000 dollars the amount is 2000 dollars per child.     
  
Implement a function for this computation. Write a program that asks for the 
household income and number of children for each applicant, printing the amount 
returned by your function.

In [16]:
# Here write your answer

## Question no 15:
Write list functions that carry out the following tasks for a list of integers. For each 
function, provide a test program. 
- a. Swap the first and last elements in the list.
- b. Shift all elements by one to the right and move the last element into the first position. For example, 1 4 9 16 25 would be transformed into 25 1 4 9 16.
- c. Replace all even elements with 0.
- d. Replace each element except the first and last by the larger of its two neighbors.
- e. Remove the middle element if the list length is odd, or the middle two elements if the length is even.
- f. Move all even elements to the front, otherwise preserving the order of the elements. 
- g. Return the second-largest element in the list.
- h. Return true if the list is currently sorted in increasing order.
- i. Return true if the list contains two adjacent duplicate elements.
- j. Return true if the list contains duplicate elements (which need not be adjacent).

In [25]:
# Here write your answer