<h1 align="center"> Practical Learning Data Science and Machine Learning - Assignment 07 </h1>

> **Note: Solve all the questions using user-defined functions and loops. Try to avoid using built-in functions.**

## Question no 01:

### Student's Record
A file exists on the disk named `students.txt` . The file contains several records, and each record contains two fields: 
- (1) the student’s name, and 
- (2) the student’s score for the final exam.    


Perform the following two operations on the given file.    


- Write code that deletes the record containing “Ahmed Shakeel” as the student name.
- Write code that changes Muhammad Salman’s score to 100.
- After performing above two operations , display all the content of the file.

In [ ]:
!cat students.txt

In [ ]:
# Here write your solution

## Question no 02:

### Random Number File Writer and Reader
Write a program that writes a series of random numbers to a file. Each random number should be in the range of 1 through 100. The application should let the user specify how many random numbers the file will hold.
Write another program that reads the random numbers from the file, display the numbers, and then display the following data:
- The count of the numbers
- The total of the numbers
- The average of the numbers
- Maximun number of the file
- Minimum number of the file
- Find the square root of each number of file and store its result into a list `squaredList`
- Find even numbers of file and store its result into a list `EvenList`

#### File writer Operation

In [ ]:
# Here write your answer
# part 01
def randomNumberFile(numberCount):
    # code
def main():
    num = int(input("How many random numbers you to store in file : "))
    randomNumberFile(num)
main()

#### File reader operation

In [ ]:
# Here write your answer

## Question no 03:
### Average of Numbers and Exception Handing
Assume that a file containing a series of integers is named `numbers.txt` and exists on the
computer’s disk. Write a program that performs the following operations and handles the following exceptions:
- calculates the average of all the numbers stored in the file.
- Maximum number of the file.
- Minimum number of the file.
- It should handle any IOError exceptions that are raised when the file is opened and data is read from it.
- It should handle any ValueError exceptions that are raised when the items that are read from the file are converted to a number.

In [ ]:
# Here write your answer

In [ ]:
!ls

## Question no 04:

### File Head and Line Numbers Display

Write a program that asks the user for the name of a file. The program should perform the following two tasks 

- Display only the first five lines of the file’s contents. If the file contains less than five lines, it should display the file’s entire contents.
- Display the contents of the file with each line preceded with a line number followed by a colon. The line numbering should start at 1.

#### Sample :

Mary had a little lamb          
Whose fleece was white as snow.      
And everywhere that Mary went,   
The lamb was sure to go!   
 
      
**Output**


1: Mary had a little lamb     
2: Whose fleece was white as snow.   
3: And everywhere that Mary went,    
4: The lamb was sure to go!

In [ ]:
# Here write your answer

## Question no 05: 
- Download this text file of past [World Series winners](https://raw.githubusercontent.com/ehtisham-sadiq/P0Q6R9S2-MLZone/main/Module%2002%20-%20Introduction%20to%20Python%20Programming/datasets/world-series-winners.txt?token=GHSAT0AAAAAACFWR62MNEYRPRCVTHGC5FOWZJNHAPA).
- Read in the lines of the file to a list, so that each line is an element of the list.
- Create a new list with just those list elements that contain `New York`; print that list, making sure there's not an extra newline character between each line. Print this list (`no` `print` command required).
- Use the `set` class to convert the list of all World Series winners to a list of unique values. Print this list (`no` `print` command required).
- Write the output to a new file `winners.txt`.

In [ ]:
# Here write your code
import urllib

## Question no 06:

####  Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
3. If your total budget for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

In [ ]:
# Here write your answer

## Question no 07: 

### Processing CSV files using a dictionary of lists

We defined the functions `read_csv` and `write_csv` above to convert a CSV file into a list of dictionaries and vice versa. In this exercise, you'll transform the CSV data into a dictionary of lists instead, with one list for each column in the file.

For example, consider the following CSV file:

```
amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300
```

We'll convert it into the following dictionary of lists:

```
{
  amount: [828400, 4633400, 42900, 983000, 15230],
  duration: []120, 240, 90, 16, 48],
  rate: [0.11, 0.06, 0.08, 0.14, 0.07],
  down_payment: [100000, 0, 8900, 0, 4300]
}
```

Complete the following tasks using the empty cells below:

1. Download three CSV files to the folder `data2` using the URLs listed in the code cell below, and verify the downloaded files.
2. Define a function `read_csv_columnar` that reads a CSV file and returns a dictionary of lists in the format shown above. 
3. Define a function `compute_emis` that adds another key `emi` into the dictionary with a list of EMIs computed for each row of data.
4. Define a function `write_csv_columnar` that writes the data from the dictionary of lists into a correctly formatted CSV file.
5. Process all three downloaded files and write the results by creating new files in the directory `data2`.

Define helper functions wherever required.

In [ ]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [ ]:
# Here write your answer

## Question no 08:

### Flying to the Bahamas

**Part A: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?**

Fill in values or arithmetic expressions for the variables below.

In [ ]:
cost_of_flying_plane = ???
number_of_passengers = ???
price_of_ticket = ???
profit = ???

In [ ]:
print('The company makes of a profit of {} dollars'.format(profit))

**Part B: Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.**

Use an `if` statement to display the result.

In [ ]:
# Here write your answer

## Question no 09:

### Twitter Sentiment Analysis

Are your ready to perform some *Data Analysis with Python*? In this problem, we'll analyze some fictional tweets and find out whether the overall sentiment of Twitter users is happy or sad. This is a simplified version of an important real world problem called *sentiment analysis*.

Before we begin, we need a list of tweets to analyze. We're picking a small number of tweets here, but the exact same analysis can also be done for thousands, or even millions of tweets. The collection of data that we perform analysis on is often called a *dataset*.

In [ ]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

Let's begin by answering a very simple but important question about our dataset.

**Q1: How many tweets does the dataset contain?**

In [ ]:
number_of_tweets == ???

Let's create two lists of words: `happy_words` and `sad_words`. We will use these to check if a tweet is happy or sad.

In [ ]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

In [ ]:
sample_tweet = tweets[0]
sample_tweet

In [ ]:
is_tweet_happy = False

# Get a word from happy_words
for word in happy_words:
    # Check if the tweet contains the word
    if word in sample_tweet:
        # Word found! Mark the tweet as happy
        is_tweet_happy = True
is_tweet_happy

Do you understand what we're doing above? 

> For each word in the list of happy words, we check if is a part of the selected tweet. If the word is indded a part of the tweet, we set the variable `is_tweet_happy` to `True`.

**Q2: Determine the number of tweets in the dataset that can be classified as happy.**

*Hint*: You'll need to use a loop inside another loop to do this. Use the code from the example shown above.

In [ ]:
# Here write your answer

In [ ]:
# print("Number of happy tweets:", number_of_happy_tweets)

**Q3: What fraction of the total number of tweets are happy?**

For example, if 2 out of 10 tweets are happy, then the answer is `2/10` i.e. `0.2`.

In [ ]:
# Here write your answer

In [ ]:
# print("The fraction of happy tweets is:", happy_fraction)

To identify whether a tweet is sad, we can simply check if contains any of the words from `sad_words`.

**Q4: Determine the number of tweets in the dataset that can be classified as sad.**

In [ ]:
# Here write your answer

In [ ]:
# print("Number of sad tweets:", number_of_sad_tweets)

**Q5: What fraction of the total number of tweets are sad?**

In [ ]:
# Here write your answer

In [ ]:
# print("The fraction of sad tweets is:", sad_fraction)

Great work, even with some basic analysis, we already know a lot about the sentiment of the tweets given to us. Let us now define a metric called "sentiment score", to summarize the overall sentiment of the tweets.

**Q6: Calculate the sentiment score, which is defined as the difference betweek the fraction of happy tweets and the fraction of sad tweets.**

In [ ]:
# Here write your answer

In [ ]:
# print("The sentiment score for the given tweets is", sentiment_score)

In a real world scenario, we could calculate & record the sentiment score for all the tweets sent out every day. This information can be used to plot a graph and study the trends in the changing sentiment of the world. The following graph was creating using the Python data visualization library `matplotlib`, which we'll cover later in the course.

<img src="https://i.imgur.com/6CCIwCb.png" style="width:400px">

What does the sentiment score represent? Based on the value of the sentiment score, can you identify if the overall sentiment of the dataset is happy or sad?

**Q7: Display whether the overall sentiment of the given dataset of tweets is happy or sad, using the sentiment score.**

In [ ]:
if ???:
    print("The overall sentiment is happy")
else:
    print("The overall sentiment is sad")

Finally, it's also important to track how many tweets are neutral i.e. neither happy nor sad. If a large fraction of tweets are marked neutral, maybe we need to improve our lists of happy and sad words. 

**Q8: What is the fraction of tweets that are neutral i.e. neither happy nor sad.**

In [ ]:
# store the final answer in this variable
number_of_neutral_tweets = 0

# perform the calculation here
???

In [ ]:
neutral_fraction = ???
print('The fraction of neutral tweets is', neutral_fraction)

## Question no 10:

#### website requires the users to input username and password to register. Write a program to check the validity of password input by users.

Following are the criteria for checking the password:  

1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]

4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12

Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.

**Example:**  
If the following passwords are given as input to the program: `ABd1234@1,a F1#,2w3E*,2We3345`  
Then, the output of the program should be:`ABd1234@1`

In [ ]:
# Here write your answer

## Question no 11 : 

#### Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive ?

**Examples:**  

1. evenly_divisible(1, 10, 20) ➞ 0

`No number between 1 and 10 can be evenly divided by 20.`
    
2. evenly_divisible(1, 10, 2) ➞ 30

`2 + 4 + 6 + 8 + 10 = 30`


3. evenly_divisible(1, 10, 3) ➞ 18

`3 + 6 + 9 = 18`

In [ ]:
# Here write your answer

## Question no 12 :

#### Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

**Examples:**  
`missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5`  
`missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10`  
`missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7`

In [ ]:
# Here write your answer

## Question no 13 :

#### An isogram is a word that has no duplicate letters. Create a function that takes a string and returns either True or False depending on whether or not it's an "isogram".

**Examples:**   
`is_isogram("Algorism") ➞ True`  
`is_isogram("PasSword") ➞ False`  
    # Not case sensitive.   
`is_isogram("Consecutive") ➞ False`  

**Notes:**  
Ignore letter case (should not be case sensitive).  
All test cases contain valid one word strings.

In [ ]:
# Here write your answer

## Question no 14 :

#### "Loves me, loves me not" is a traditional game in which a person plucks off all the petals of a flower one by one, saying the phrase "Loves me" and "Loves me not" when determining whether the one that they love, loves them back.

Given a number of petals, return a string which repeats the phrases "Loves me" and "Loves me not" for every alternating petal, and return the last phrase in all caps. Remember to put a comma and space between phrases.

**Examples:**   
`loves_me(3) ➞ "Loves me, Loves me not, LOVES ME"`  
`loves_me(6) ➞ "Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT"`  
`loves_me(1) ➞ "LOVES ME"`

In [ ]:
# Here write your answer

# Challenge Exercise:

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
# Here write your code

### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [ ]:
# Here write your code

### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [ ]:
# Here write your code

### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [ ]:
# here write your code
sample_list_2 = []

### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [ ]:
# Here write your code

### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [ ]:
# Here write your code

### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [ ]:
# Here write your code

### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [ ]:
# Here write your code

### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.
- len(set1) + len(set2) - len(set(5)) = this should be equal to the union of 1 and 2
- len(set3) + len(set5) = should be equal to set 1
- len(set4) + len(set5) = should be equal to set 2

In [ ]:
# Here write your code

### Create an empty set called `set6`.

In [ ]:
# Here write your code

### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Here write your code

### Check if `set1` and `set6` are equal.

In [ ]:
# Here write your code

### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Here write your code

### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Here write your code

### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Here write your code

### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements and length of `set1`.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Here write your code