
<h1> Python Built-in Data structures and Control Structures </h1>

### Learning agenda of this notebook


- **Python Indentation**
- **Mutable vs Immutable**
- **String Data Structure**
    - Defining Strings in the Python
    - Accessing characters  of  a  String (Indexing)
    - Strings  are  immutable(Reassigning String)
    - Strings  Slicing 
    - String  Concatenation
    - Create large Strings
    - Operations on string Data structure
    - Strings method
    - String  Deletion
    - String Membership test
- **List Data Structure**
    - How to create lists?
    - Proof of concepts: Lists are heterogeneous, ordered, mutable, nested, and allow duplicate elements
    - Different ways to access list elements
    - Slicing Lists
    - List concatenation and repetition
    - Modifying/Adding elements to a List using `append()`, `extend()`, and `insert()` methods
    - Removing elements from a list using `pop()` and `remove()` methods
    - Converting string object to list and vice-versa (using type casting, `split()` and `join()`)
    - Aliasing vs Shallow Copy vs Deep Copy
    - Sorting a list and Custom sorting
- **Branching with `if`, `else`, and `elif`**
- **The `pass` statement**

In [13]:
str1 = "I'm a student of SE"
str2 = str1.replace("SE","CS")

In [17]:
str1 + str2 + str(23)

"I'm a student of SEI'm a student of CS23"

In [20]:
print(str1, str2, sep="\n")

I'm a student of SE
I'm a student of CS

#### Recap:
- **Introduction to Python(Why, and what Python)**
- **Code Editor and IDE, why jupyter Notebook?**
- **Variables in Python**
- **Datatypes**
- **Comments in Python**
- **Type Casting**
- **Operators in Python**

In [ ]:
int("20a", base=9)

## Python Expression, Statements and Indentation

> **Expressions and Statements**: An expression is some code that evaluates to a value. As a rule of thumb, an expression is anything that can appear on the right side of the assignment operator `=`. On the contrary a statement is an instruction that can be executed. 

> **Python Indentation**:
>- Most programming languages like C, C++, Java use braces { } to define a block of code. 
>- Python use indentation to tell the interpreter that the group of statements belongs to a particular block of code. 
>- Python uses 4 spaces as indentation by default. However, the number of spaces is up to you, but a minimum of 1 space has to be used. 
>- Pressing `Tab` in a Jupyter notebook cell, will indent the code by 4 spaces, and pressing `Shift+Tab` will reduce the indentation by 4 spaces. 


<br>
<br>
<img src="images/indentation.jpg" height=700px width=700px>

In [ ]:
age = 20
if age >= 28:
    print("Voted")
else:
    print("Not Voted")
    
if age == 20:
    print("Yes")

In [ ]:
# == (Values comp) , is (Object References)

## Mutable vs Immutable
<img src="images/datatypes1.png" height=700px width=700px>

#### Numbers:
Number stores numeric values. The `integer`, `float`, and `complex` values belong to a Python `Numbers` data-type. Python provides the `type()` function to know the data-type of the variable.


<img src="images/numbers-in-python--image.webp" height=700px width=700px>




Python supports three types of numeric data.

1. **Int** - Integer value can be any length such as integers 10, 2, 29, -20, -150 etc. Python has no restriction on the length of an integer. Its value belongs to int
2. **Float** - Float is used to store floating-point numbers like 1.9, 9.902, 15.2, etc. It is accurate upto 15 decimal points.
3. **complex** - A complex number contains an ordered pair, i.e., x + iy where x and y denote the real and imaginary parts, respectively. The complex numbers like 2.14j, 2.0 + 2.3j, etc.
4. **Boolean:** Also known as bool data type allows us to choose between two values: True and False. Booleans have the type bool. A Boolean is used to determine whether the logic of an expression or a comparison is correct. It plays a huge role in data comparisons.

In [ ]:
a = 5  
print("The type of a", type(a))  
  
b = 40.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))

In [ ]:
# ==, != <, >, >=, <= comparsion operators

In [ ]:
result = 5 < 2
print(result)
print(type(result))

In [ ]:
# In Python, True represents the value as 1 or other than 0 and False as 0. 
print(bool(1))
print(bool(0))

print(bool(True))
print(bool(False))

print(bool(-100))
print(bool('ehtisham'))

#### **Test Yourself**
- What are the data types of the results of the division operators `/` and `//`?
- What kind of data does the Boolean data type represent?
- Which types of Python operators return booleans as a result?
- What happens if you try to use a boolean in arithmetic operation?
- How can any value in Python be covered to a boolean?

In [ ]:
# Which types of Python operators return booleans as a result?
# - Comparison Operators
# - Logical Operations
# - Membership
# - Identity

In [ ]:
# True + 100, False*100

In [ ]:
# bool('')

In [ ]:
92 + False

In [ ]:
-10 // 4

<h2  > String Data Structure </h2>


- What is Data  Structure?
- String Data Structure
- Accessing characters  of  a  String (Indexing)
- Strings  are  immutable(Reassigning String)
- Strings  Slicing 
- String  Concatenation
- Create large Strings
- Operations on string Data structure
- Strings method
    - `lower()`, `upper()`, `strip()`, `startswith()`, `endswith()`, `split()`, `join()`, `find()`, `replace()`, `format()`, `len()`, `min()`, `max()`, `sorted()`, `title()/capitalize`, `swapcase()`, `count()`, `find()`, `index()`, `isalnum() / isalpha()`, `isdigit()`, 
- String  Deletion
- String Membership test

### What is Data Structure?


- Data structure is a particular way of storing and organizing data in a computer so that it can be used efficiently. A data structure is a special format for organizing and storing data .


<img src="images/data_structure.gif" height=500px width=500px align="center">

### String Data Structure


- Python string is the collection of the characters surrounded by single quotes, double quotes, or triple quotes.

<img src="images/Ways-to-declare-a-string-In-Python-1024x576.png" height=600px width=600px align ='left'>
<img src="images/string-ds.gif" height=400px width=400px right="right">

In [ ]:
str1 = "Ehtisham"
str2 = 'Ehtisham'
str3 = """Ehtisham"""

In [ ]:
print(type(str1))
print(type(str2))
print(type(str3))

In [ ]:
# triple quotes string can extend multiple lines

string5 = """Hello, This is
            multi-line string"""
print(string5)

string5 = '''Hello, This is
            multi-line string'''
print(string5)

In [ ]:
# Be careful with quotes!
'I' m using single quotes, but will create an error'

> The reason for the error above is because the single quote in `I'm` stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
# Be careful with quotes!
"I'm using single quotes, but will create an error"

### **Indexing**: Accessing Characters of a String

Like other languages, the indexing of the Python strings starts from 0. Since string is of type sequence, and any component within a sequence can be accessed by entrying an `index within square brackets`. So naturally this work for strings as well List.
For example, The string "HELLO" is indexed as given in the below figure.

![](images/2.png)


As shown in Python, the `slice operator []` is used to access the individual characters of the string. However, we can use the `: (colon)` operator in Python to access the substring from the given string. Consider the following example.
### Syntax:    
**str[start:end-1]**

In [ ]:
string = "HELLO"  
print(len(string))

In [ ]:
print(string[0])  
print(string[1])  
print(string[2])  
print(string[3])  
print(string[4])

In [ ]:
# It returns the IndexError because 6th index doesn't exist  
print(string[6])
# 1-4

![](images/3.png)

Here, we must notice that the upper range given in the slice operator is always exclusive i.e., if str = 'HELLO' is given, then `str[1:3]` will always include `str[1] = 'E'`, `str[2] = 'L'` and nothing else.

In [ ]:
string2 = "Dua Sadiq"  
print(len(string2))

In [ ]:
# Start Oth index to end  
print(string2[0:])  

# Starts 1th index to 4th index  
print(string2[1:5])  

# Starts 2nd index to 3rd index  
print(string2[2:4])  

# Starts 0th to 2nd index  
print(string2[:3])  

#Starts 4th to 6th index  
print(string2[4:7])

We can do the negative slicing in the string; it starts from the rightmost character, which is indicated as -1. The second rightmost index indicates -2, and so on.


![](images/4.png)

In [ ]:
string3 = 'Ali Sadiq'  
print(len(string3))
print(string3[-1])  
print(string3[-3])  
print(string3[-2:])  
print(string3[-4:-1])  
print(string3[-7:-2])

In [ ]:
# Reversing the given string  
print(string3[::-1])

In [ ]:
name = "Ehtisham Sadiq"
# output: "mahsithE qidaS"

In [ ]:
print(string3[-12])

###  Strings are immutable/ Reassigning Strings
Updating the content of the strings is as easy as assigning it to a new string. `The string object doesn't support item assignment` i.e., A string can only be replaced with new string since its content cannot be partially replaced. Strings are immutable in Python.

In [ ]:
str1 = "Ayesha Sadiq"
str1[3] = "M"
print(str1)

In [ ]:
str1.replace("s", "M")

In [ ]:
#assigning a new value is valid
print(id(str1))
str1 = 'python'
print(id(str1))

The object `Ayesha Sadiq` is now orphan, since there is no variable referring to it now and will be collected by Python garbage collector.

###  String Slicing
- Slicing is the process of obtaining a portion (substring) of a string by using its indices.
- Given a string, we can use the following syntax to slice it and obtain a substring:
```
string[start:end]
```
- **start** is the index from where we want the substring to start. If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our substring to end (not inclusive in the substring). If end is not provided, slicing goes till the end of the string (includes the last character of the string).


<img src="images/Python-String.png" height=500px width=500px>

- `var[:]` -> Full string return
- `var[0:]` -> Full string return
- `var[:len(string)]` -> Full string return 
- `var[::-1]` -> Full reverse string return

In [ ]:
str1 = 'Introductiontodatasciencewithusingpython'
print(len(str1))

In [ ]:
print(str1[::])  # A default step of 1

In [ ]:
print(str1[::1])

In [ ]:
print(str1)
print(str1[::2])  # A step of 2

In [ ]:
print(str1)
print(str1[10:30:3])  # A step of 2

### String Concatenation
- Two strings can be joined or concatenated using the `+` operator

### Creating large strings
- A string can be replicated/repeated using the `*` operator

In [ ]:
str2 = "Ehtisham"
print(str2 * 10)

###  Operations on String Data Structure 


|Operator|Description|
|--------|-----------|
|+|It is known as concatenation operator used to join the strings given either side of the operator. |
|*|It is known as repetition operator. It concatenates the multiple copies of the same string. |
|[]|It is known as slice operator. It is used to access the sub-strings of a particular string. |
|[:]|It is known as range slice operator. It is used to access the characters from the specified range. |
|in|It is known as membership operator. It returns if a particular sub-string is present in the specified string. |
|not in |It is also a membership operator and does the exact reverse of in. It returns true if a particular substring is not present in the specified string. |

### String Membership test using `in` operator

In [ ]:
'a' in 'DataScience'
# if "a" in str1:
    # print("Yes")

In [ ]:
'thf' not in 'python'

### String Deletion
As we know that strings are immutable. We cannot delete or remove the characters from the string.  But we can delete the entire string using the `del` keyword.

###  Comparing two strings using `is` operator and `==` operator

In [21]:
"ali" is "ALI", "ali" == "ALI"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/qb/lf_2q09x7wj115gvfnkv6tkm0000gn/T/ipykernel_87948/2784403596.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "ali" is "ALI", "ali" == "ALI"

(False, False)

In [23]:
if "ali" is "ALI":
    print("Yes")
else:
    print("Yes")
print("NO")
print("NO")

Yes
NO
NO

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/qb/lf_2q09x7wj115gvfnkv6tkm0000gn/T/ipykernel_87948/3900937.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if "ali" is "ALI":

In [24]:
if "ali" in "ali":
    print("Yes")
    return "Yes"
    print("NO")
else:
    print("Else")

print("Done")

SyntaxError: 'return' outside function (1523518458.py, line 3)

In [25]:
if "ali" in "ali":
    print("Yes")
    # return "Yes"
    print("NO")
else:
    print("Else")

print("Done")

Yes
NO
Done

###  String Methods

- Now the most important part of a string is string methods which you used everywhere whenever you built any project. Now we will study all-important string methods which are frequently used.

####  The `len()`, `str.lower()`, `str.upper()` and `str.capitalize()` methods
- The `len()` is a built-in function that returns the number of items of a container data type passed as argument. We can check the length of any data types that are collections with built-in `len()` function.
It is considered a built-in function.
- The `str.lower()` method return a copy of the string converted to lowercase.
- The `str.upper()` method return a copy of the string converted to uppercase.
- The `str.capitalize()` method return a capitalized version of the string.

In [ ]:
print(dir(str))

In [ ]:
# str.

In [ ]:
string1 = "introduction to Data science using python"
print('Orignial string = ', string1)

rv = len(string1)
print('len(string1) = ', rv)

In [ ]:
# string1.

In [ ]:
rv1 = string1.lower()
print('string1.lower() = ', rv1)
      
print('string1.upper() = ', string1.upper())

####  The `str.strip()` method
- The `str.strip()` method removes whitespace characters from the beginning and end of a string.
- The `str.lstrip()` method removes whitespace characters from the beginning of a string.
- The `str.rstrip()` method removes whitespace characters from the end of a string.

In [ ]:
buffer ="    hello world, this is       Ehtisham Sadiq      "
rv = buffer.strip()
print(buffer)
print(rv)

In [ ]:
print(buffer)
print(buffer.lstrip())
print(buffer.rstrip())

#### The `str.split()` and `str.join()` method

- The `str.split()` method splits a string into a list of strings at every occurrence of space character by default. You may pass a parameter `sep='i'` to split method to split at that specific character instead.
- The `sep.join(list)` method is passed a list/iterable as parameter and is called on a separater character. It joins the strings inside the list to a single string and returns

In [28]:
str1 =  "Learning Practical Data Science with Ehtisham Sadiq"
rv = str1.split(" ")
rv

['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']

In [30]:
str1 =  "Learning Practical Data Science with Ehtisham Sadiq"
rv = str1.split(sep='i', maxsplit=3)
rv

['Learn', 'ng Pract', 'cal Data Sc', 'ence with Ehtisham Sadiq']

In [31]:
# The join() method takes all items in an iterable and joins them into one string.
mylist = ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']

#Note the separator is space character
mystr = ' '.join(mylist)

In [32]:
mystr

'Learning Practical Data Science with Ehtisham Sadiq'

In [33]:
# You can call join() method on a separator or your choice
mylist = ['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib', str(21), str(18)]

#Note the separator is hash character
mystr = '#'.join(mylist)

In [34]:
mystr

'Ehtisham#Ali#Ayesha#Dua#Adeen#Khubaib#21#18'

In [35]:
print(mylist, type(mylist))
print(mystr, type(mystr))

['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib', '21', '18'] <class 'list'>
Ehtisham#Ali#Ayesha#Dua#Adeen#Khubaib#21#18 <class 'str'>

- The `str.startswith()` method
- The `str.endsswith()` method
- The `str.find()` method
- Use `str.replace()` method to find a substring
- The `str.format()` method

#### Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What are the container types available in Python?
2. What kind of data does the String data type represent?
3. What are the different ways of creating strings in Python?
4. What is the difference between strings created using single quotes, i.e. `'` and `'` vs. those created using double quotes, i.e. `"` and `"`?
5. How do you create multi-line strings in Python?
6. What is the newline character, `\n`?
8. How do you check the length of a string?
9. How do you convert a string into a list of characters?
10. How do you access a specific character from a string?
11. How do you access a range of characters from a string?
12. How do you check if a specific character occurs in a string?
13. How do you check if a smaller string occurs within a bigger string?
14. How do you join two or more strings?
15. What are "methods" in Python? How are they different from functions?
16. What do the `.count`, `.isalnum` and `.isalpha` methods on strings do?
17. How do you replace a specific part of a string with something else?
18. How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?
19. How do you remove whitespace from the beginning and end of a string?
20. What is the string `.format` method used for? Can you give an example?
21. What are the benefits of using the `.format` method instead of string concatenation?
22. How do you convert a value of another type to a string?
23. How do you check if two strings have the same value?
24. Where can you find the list of all the methods supported by strings?

In [36]:
name = "Ehtisham", "Sadiq" # packing
name

('Ehtisham', 'Sadiq')

In [37]:
first_name , last_name = name # unpacking
print(first_name)
print(last_name)

Ehtisham
Sadiq

In [40]:
name = "Ehtisham"                "Sadiq"        'ali'
name

'EhtishamSadiqali'

In [ ]:
# str1 = "ALI"
# str1[-1:-5]
name = "Ali"
age = 20
marks = -90
print("My name is "+name+"and I'm"+str(age)+"years old."+"I have"+str(marks)+"in English")

In [42]:
"abcdabefabgh".count("acb") # ab

0

<h2>List Data Structure</h2>

> **A List is a `numerically ordered sequence` of elements that can store elements of `heterogeneous types`, is `iterable`, `mutable` and allows `duplicate` elements.**


* **Collections** allows us to put many values in a single variable. Lists, Sets, Tuples, and Dictionaries are some types of Python collections
* **Sequences** are collections of objects, however, each object in a sequence is assigned an index and the items of a sequence can be manipulated using its respective index. List and Tuples fall into this category.

In [ ]:
# collection -> l1=[2,3,4,5,6,7,8]
 # sequences (l1, l2, set1,set2))

### How to Create Lists?
>- **A Python List is a numerically ordered sequence of elements that can store multiple items of heterogeneous types and allows duplicate elements.**
>- **A Python List can be created by placing comma separated values in square brackets.**

In [ ]:
# It allows us to store elements of different data types (number, boolean, string, list) in one container.

list1 = [1,2,3,4,5]   #list of integers
print(list1)
type(list1)

In [ ]:
list2 = [3.7, 6.5, 3.8, 7.95 ]   #list of floats
print(list2)

In [ ]:
list3 = ["hello", "this", "F", "good show"]   #list of strings
print(list3)

list4 = [True, False, True]   #list of boolean
print(list4)

list5 = []   #this will create an empty list
print(list5)

### Proof of concepts

#### a. Lists are heterogeneous
- Lists are heterogeneous, as their elements/items can be of any data type

In [ ]:
list1 = ["Ehtisham", 30, 5.5, "", []]
print("list1: ", list1)
print("Ehtisham", "Sadiq")
print("Ehtisham", "Sadiq", sep="")
print("Ehtisham"+"Sadiq")

#### b. Lists are ordered
- Lists are ordered means every element is associated by an index
- Every time you access list elements they will show up in same sequence. 
- Moreover, `two lists having same elements in different order are not same`.

In [43]:
a = [1, 2, 3]
b = [2, 3, 1]
print(id(a), id(b), a is b, a == b, sep="\n")

4426415296
4426312960
False
False

#### c. Lists are mutable
- We have seen in previous session that Strings are **immutable**, i.e., we cannot change the contents of a string, however, we can assign an entirely new string to a variable
- List on the contrary are **mutable**, i.e., once a List object is created, you can change an element of the list using the index `[]` and assignment `=' operator

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers

In [ ]:
numbers[2] = 555

print("numbers: ", numbers)

#### d. Lists can have duplicate emements

In [ ]:
# lists allow duplicate elements
names = ['Ehtisham', 'Ali', 'Ayesha', 'Ehtisham', 'Ahmed']
names

In [ ]:
set1 = set(names) # set does not allow duplicate elements
set1

In [ ]:
print(names)
print(set1)

#### e. Lists can be nested to arbitrary depth
- You can have list within list and that can be done to an arbitrary depth. You are only restricted to the available memory on your system

In [ ]:
# A list having two sub-lists within it
a = [1,2,3,[4,5],[6,7,8,9],10,11]
print(a), len(a)

In [ ]:
# A list having a sublist, which is further having a sublist and that again having a sublist
b = [1,2,3,[4,5,[6,7,8,[9,10,11]]]]
# a, b
print(b , len(b))

#### f. Packing and Unpacking Lists

In [ ]:
# you can unpack list elements
mylist = ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']
mylist

In [ ]:
a, b, c, d, e, f, g = mylist # the number of variables on the left must match the number of elements in the list

print (a, b,c,d, e,f,g, sep="\n")

In [ ]:
# you can pack individual elements to a list
tuple1 = a,b,c,d,e,f,g
print(tuple1)
print(type(tuple1))

In [ ]:
mylist2 = list(tuple1)

In [ ]:
print(mylist2)
print(type(mylist2))

In [ ]:
list1 = [22, 34, "Ehtisham", "Ali"]
list1[4:3] = "Ayesha"
list1

###  `Index()` method to access elements of a list
- Since Lists like Strings are of type sequence, and any element within a sequence can be accessed by entrying an index within square brackets. So naturally this must work for Lists as well strings.
- Similarly, if we want to find out the index of a specific item/element, we can use the `index()` method of List class

In [ ]:
# index(value) method is used when you know the list element and want to get its index
# index(value) method returns the index of the first matched item with its only argument
mylist = [27, 4.5, 'Ehtisham', 64, 'ali', 19, 'Ehtisham']
mylist

In [ ]:
help(list.index)

In [ ]:
mylist.index('ahmed')

In [ ]:
mylist.index('Ehtisham')

### Slicing Lists
- Like anyother sequence object we can perform slicing with lists as well.
- Slicing is the process of obtaining a portion of a list by using its indices.
- Given a list, we can use the following template to slice it and obtain a sublist:
```
mylist[start:end:step]
```

- **start** is the index from where we want the sublist to start. If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our sublist to end (not inclusive in the sublist). If end is not provided, slicing goes till the last element of the list.
- **step** is the step through which we want to skip elements in the list. The default step is 1, so we iterate through every element of the list.

In [ ]:
list1 = ['a','b','c','d','e','f','g','h','i']
list1

In [ ]:
list1[::]

In [ ]:
list1[3:]

In [ ]:
list1[2:5]

In [ ]:
list1[2:7:2]

Here are some experiments you should try out:

* Try setting one or both indices of the range are larger than the size of the list, e.g., `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index, e.g., `a_list[12:10]`
* Try leaving out the start or end index of a range, e.g., `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range, e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them an excellent tool for learning and experimentation. If you are new to Python, you can resolve most questions as soon as they arise simply by typing the code into a cell and executing it. **Let your curiosity run wild, discover what Python is capable of and what it isn't!**

###  List Concatenation and Repetition using `+` and `*`

### Modifying/Adding elements to a list

- We have worked on different methods of String class . Similarly there are several built-in methods of the List class. 
> **Remember, unlike String methods, most methods of List class modify the original List rather than returning a new one.**
- Lists are dynamic, as we write our Python program, we can actually make changes to our already created list, whithout having to go for compiling it again. 
- If we have to add certain elements to an already created list, the original list gorws dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

- We can use a list methods to perform various tasks on a list object and modify it. 
- Some list methods that can be used to alter a list are (append, insert, extend, remove, pop, clear, index, count, sort, reverse, split and join)
- Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .

#### a. Modifying/Adding elements to a list using [ ] operator

In [50]:
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist[7:8] = ["Big Data", "Deep Learning"]
mylist

['data science', 'machine learning', 2, 5, 7, 'Big Data', 'Deep Learning']

In [ ]:
mylist = ['data science', 'machine learning', 2, 5, 7]
# Let us change the second element of this list
print("Original List : ", mylist)

In [ ]:
mylist[1] = 'big data' #item assignment
print(len(mylist))
print("New List/ Modified List : ",mylist)

In [ ]:
# We can use the slice index to modify multiple list elements in one go
mylist = ['data science', 'machine learning', 2, 5, 7]
print("Original List : ", mylist)

In [ ]:
mylist[0:2] = ['english', 'urdu'] # Note we are replacing two elements with two elements
print(len(mylist))
print("Modified List : ", mylist)

In [ ]:
# We can replace more number of elements with lesser number of elements in a list
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist

In [ ]:
mylist[0:2] = ['BIG DATA'] # Note we are replacing two elements with one element
mylist

#### b. Adding elements to a list using `list.append(value)` method
- `list.append(value)` method is used when you want to add a single element at the end of the list
- It is passed one argument which is the element to be inserted and returns none/void

In [ ]:
list1 = [2, 4, 6, 8]
print(list1)

In [ ]:
list1.append(4.631)

In [ ]:
list1

In [52]:
# You cannot add multiple elements using an append
# If you try it will actually add those elements as a sub-list
list1 = [2, 4, 6, 8]
list1.append([4.631, 'hello'])

In [53]:
list1

[2, 4, 6, 8, [4.631, 'hello']]

In [ ]:
list1 = ["Ali", "Ehtisham", "Ayesha", ["Dua", "Adeen",["Khubaib",22,34,"waniya"]]]
list1[3][2][0] = list1[3][2][0].upper()
list1

In [51]:
list1 = ["Ali", "Ehtisham", "Ayesha", ["Dua", "Adeen",("Khubaib",22,34,"waniya")]]
list1[3][2].append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# append
# extend
# insert

#### c. Adding elements to a list using `list.extend(sublist)` method
- `list.extend(sublist)` method is used when you want to add multiple elements at the end of the list
- It is passed a list to be added at the end and returns none/void

In [54]:
list1 = [2, 4, 6, 8]
print("Original List : ", list1)
list1.extend([4.631, 'hello'])

Original List :  [2, 4, 6, 8]

In [55]:
list1

[2, 4, 6, 8, 4.631, 'hello']

In [56]:
list1.extend("ali")

In [57]:
list1

[2, 4, 6, 8, 4.631, 'hello', 'a', 'l', 'i']

In [ ]:
# list1.extend('Ali')
# list1

#### d. Adding elements to a list using `list.insert(index, value)` method
- `list.insert(index, value)` method is used when you want to add an element at a specific location in the list
- It is passed index and value and returns none/void

In [ ]:
myfamily = ["Ehtisham", 'Ali', 'Ayesha']

print("\nOriginal family list: ", myfamily)

In [ ]:
myfamily.insert(2,'Dua')
print("After insert: ", myfamily)

In [ ]:
myfamily.insert(3,'Adeen')
print("After insert: ", myfamily)

###  Removing elements from a list using `list.pop()` and `list.remove()` methods
- Lists are dynamic, as we write our Python program, we can actually make changes to our already created list, whithout having to go for compiling it again. 
- If we have to remove certain elements from an already created list, the original list shrinks dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

#### a. Removing element from a List using `list.pop(index)` method
- The `list.pop()` method without any argument removes the last item (right most element) in the list and returns it
- If given an argument/index, will remove that item from list whose index is given and returns it

In [ ]:
mylist = ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']
print("Original list: ", mylist)

In [ ]:
x  = mylist.pop()
print("\nAfter pop(): ", mylist)
print("Element popped is: ", x)

In [ ]:
mylist.pop()

#### b. Removing element from a list using `list.remove(val)` method
- The `list.remove(value)` method is used when you want to remove a specific element without returning it
- It is passed exactly one argument, which is the value to be removed and returns none/void
- In case of multiple occurrances, it removes the first occurrence of the element

In [58]:
mylist = ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq', 'Data']
print("\nOriginal list: ", mylist)

Original list:  ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq', 'Data']

In [59]:
x = mylist.remove('Data')
print("After remove('Data'): ", mylist)
print("Return value of remove() is: ", x)

After remove('Data'):  ['Learning', 'Practical', 'Science', 'with', 'Ehtisham', 'Sadiq', 'Data']
Return value of remove() is:  None

In [60]:
x = mylist.remove('Ali')

print("After remove('Data'): ", mylist)
print("Return value of remove() is: ", x)

ValueError: list.remove(x): x not in list

#### c. Using `list.clear()` method to remove all the list elements

In [ ]:
# Do by yourself

#### d. Using `del` Keyword to delete one or more list items or delete the list entirely from memory

### Converting String object to List and vice-versa (IMP)

In [ ]:
# Name of both methods

### Some Built-in Functions that can be used on Lists

In [ ]:
list_num = [3, 8, 1, 6, 0, 8, 4]
list_num

In [ ]:
print("length of list: ", len(list_num))
print("max element in list: ", max(list_num))
print("min element in list: ",min(list_num))
print("Sum of element in list: ",sum(list_num))

### Simple Assignment (aliasing) vs Shallow Copy vs Deep Copy

<img src="images/deep-shallow.png" height=500px width=500px>

###  Sorting a List
- You can use following three methods to sort list elements
    - The `list.sort()` method can sort the list elements (ascending + descending) on which it is called and returns None (modifies the list on which it is called).
    - The `list.reverse()` method simply reverse the list elements on which it is called and returns None (modifies the list on which it is called).
    - The `sorted(iterable)` is a built-in function, which returns a sorted version of the list, which is passed to it as parameter (list remains as it is). Limitation is it is a bit slow as it makes a copy of the list. Advantage is that it can sort any iterable.

#### a. The `list.sort()` method

In [ ]:
list_num = [3, 8, 1, 6, 0, 8, 4]
print("Original numbers list: ", list_num)

In [ ]:
list_num.sort()
print("Ascending Sort: ", list_num)

list_num.sort(reverse=True)
print("Descending Sort: ", list_num)

#### b. Custom Sorting using `list.sort()` Method
**Example 1: Suppose given a list with elements `['ccc', 'aaaaa', 'd', 'bb']` and I want to sort it by length of strings within the list so that the output list is like : `['d', 'bb', 'ccc', 'aaaaa']`**

```
    list.sort(*, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `list.sort()` method
- The `list.sort()` method will run this one argument function on all the elements of the list and return a single value, and build up a shadow list of those new values. 
- Suppose the one argument function in this case is the Python built-in function `len()`, which when called on every element of `list1` will return a shadow list containing length of every string within the original list containing `[3,4,2,1]`
- The `list1.sort()` method will then sort `list1` elements based on the values of the shadow list and generate the required sorted list :)

In [61]:
list1 = ['ccc', 'aaaaa', 'd', 'bb']
list1.sort()
list1

['aaaaa', 'bb', 'ccc', 'd']

In [62]:
list1 = ['ccc', 'aaaaa', 'd', 'bb']
list1.sort(key=len)
list1

['d', 'bb', 'ccc', 'aaaaa']

In [63]:
list1 = ['ccc', 'aaaaa', 'd', 'bb']
list1.sort(key=len, reverse=True)
list1

['aaaaa', 'ccc', 'bb', 'd']

**Example 2: Suppose given a list with elements `['abcz', 'xyza', 'bas', 'Ehtisham']` and I want to sort it by last character of strings within the list so that the output list is like : `['xyza', 'Ehtisham', 'bas', 'abcz']`**

```
    list.sort(*, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `list.sort()` method
- The `list.sort()` method will run this one argument function on all the elements of the list and return a single value, and build up a shadow list of those new values. 
- This time the one argument function is a custom built function that receives a string and returns its last character. When called on every element of `list1` will return a shadow list containing only the last character of every string within the original list containing `['z', 'a', 's', 'f']`
- The `list1.sort()` method will then sort `list1` elements based on the values of the shadow list and generate the required sorted list :)

In [64]:
def last(s):
    return s[-1] 
last("Ehtisham")

'm'

In [65]:
list1 = ['abcz', 'xyza', 'bas', 'Ehtisham']
list1

['abcz', 'xyza', 'bas', 'Ehtisham']

In [66]:
list1.sort(key=last)
list1

['xyza', 'Ehtisham', 'bas', 'abcz']

### More Concepts
#### a. Use of  `in` Operator on Lists
#### b. Comparing objects and values

In [ ]:
# is, ==

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What is a list in Python?
2. How do you create a list?
3. Can a Python list contain values of different data types?
4. Can a list contain another list as an element within it?
5. Can you create a list without any values?
6. How do you check the length of a list in Python?
7. How do you retrieve a value from a list?
8. What is the smallest and largest index you can use to access elements from a list containing five elements?
9. What happens if you try to access an index equal to or larger than the size of a list?
10. What happens if you try to access a negative index within a list?
11. How do you access a range of elements from a list?
12. How many elements does the list returned by the expression `a_list[2:5]` contain?
13. What do the ranges `a_list[:2]` and `a_list[2:]` represent?
14. How do you change the item stored at a specific index within a list?
15. How do you insert a new item at the beginning, middle, or end of a list?
16. How do you remove an item from al list?
17. How do you remove the item at a given index from a list?
18. How do you check if a list contains a value?
19. How do you combine two or most lists to create a larger list?
20. How do you create a copy of a list?
21. Does the expression `a_new_list = a_list` create a copy of the list `a_list`?
22. How can you find the list of all the methods supported by lists?
23. Understand the difference between creating an alias of a list, and shallow copy and deep copy

In [ ]:
from IPython.core.display import HTML

style = """
    <style>
        body {
            background-color: #f2fff2;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            color: #4295F4;
            text-decoration: underline;
            padding-top: 15px;
        }
        
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #4A000A;
            text-decoration: underline;
            padding-top: 10px;
        }
        
        h3 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #f0081e;
            text-decoration: underline;
            padding-top: 5px;
        }

        
        p {
            text-align: center;
            font-size: 12 px;
            color: #0B9923;
        }
    </style>
"""

html_content = """
<h1>Hello</h1>
<p>Hello World</p>
<h2> Hello</h2>
<h3> World </h3>
"""

HTML(style + html_content)


<h1> Dictionary Data structures and Control Structures </h1>

## Learning agenda of this notebook
* **Motivation to use Dictionary**
1. How to create dictionaries?
2. Proof of concepts
3. Accessing elements of a dictionary
4. Adding/Modifying elements of a dictionary
5. Removing elements from a dictionary
6. Dictionary, tuple and list conversions
7. Sorting Dictionary values
8. Aliasing vs Shallow Copy vs Deep Copy

### Motivation to use Dictionary
Let's solve a problem to see benefits of dictionary.  
How you can get marks of a specific student by using both lists students and name.

In [67]:
students = ['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen']
marks = [81, 52, 70, 74, 78]
# add
# phone

In [68]:
def get_marks(name):
    index = students.index(name)
    return marks[index]
get_marks('Ali')

52

### 1. How to create Dictionaries?
- A Dictionary object  is created by placing comma separated `key:value` pairs in curly braces.
- The keys of a dictionary has to be unique and can be of heterogeneous immutable types only (int, string or tuple).
- The values can be duplicated and can be of heterogeneous types (mutable + immutable).

<img align="center" width="900" height="900"  src="images/dict_main.png" >

In [69]:
# A dictionary with string keys, and integer values, showing age of person
dict1 = {
    'Ehtisham':51, 
    'Ali':52, 
    'Dua':22,
}

In [71]:
dict1['Ali']

52

In [70]:
print(dict1)
print(type(dict1))
print(id(dict1))

{'Ehtisham': 51, 'Ali': 52, 'Dua': 22}
<class 'dict'>
4425739584

In [ ]:
# dictionary with mixed keys (immutable types only)
dict2 = {
    'name': 'ali', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
print(dict2)

### 2. Proof of concepts
#### a. Dictionary allows Duplicate Values

In [ ]:
# Duplicate values are allowed
d1 = {
    'name1' : 'ali',
     'name2' : 'ali'
     }
d1

#### b. Dictionary DOESNOT allows Duplicate Keys

In [72]:
# Duplicate keys are not allowed
# This will not raise an error, but will overwrite the value corresponding to the key
d1 = { 
     'name' : 'ali',
     'name' : 'ehtisham',
     'name' : 'AYESHA'
     }
d1

{'name': 'AYESHA'}

#### c. Keys inside Dictionaries Must be of Immutable data types
- The keys of a dictionary has to be of immutable data type `(number, string, tuple)`

In [ ]:
# Tuple being immutable can be used as a key
d1 = {
        'ali':'name', 
      (60, 78, 83): 'marks' 
     }
d1

In [ ]:
# List being mutable cannot be used as a key
d1 = {
      'ali':'name', 
      [60, 78, 83]:'marks' 
     }
d1

#### d. Values inside Dictionaies can be of mutable/immutable data type

In [ ]:
# List being mutable can be used as a value
d1 = {
     'name':'Ali', 
      'marks':[60,78,83] 
     }
d1

In [ ]:
# Tuple being immutable can also be used as a value
d1 = {
    'name':'ali', 
      'marks': (60,78,83) 
     }
d1

#### e. Dictionaries are heterogeneous
- The keys of a dictionary can be of integer, string, or tuple type
- The values of a dictionary can be of any data type

In [ ]:
# dictionary with mixed keys (immutable types only)
dict2 = {
    'name': 'ali', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
print(dict2)

#### f. Dictionaries can be nested to arbitrary depth

In [ ]:
# Creating a Nested Dictionary
dict7 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 'area' : 'Pak Villas Housing Society', 'city' : 'Okara'},
         'phone': '03460000000'
        }
dict7

### 3. Accessing Elements of a Dictionary
#### a. Retrieving a `value`of a Dictionary given a `key`
- Given a key, you can retrieve corresponding value from a dictionary using two ways:
    - Use key inside `[]` operator
    - Pass the key as argument to `dict.get(key)` method

In [ ]:
# List[5], str[4:10]

In [73]:
d1 = {
    'name':'Ehisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

{'name': 'Ehisham', 'age': 22, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [74]:
d1['address']

'Pak Villas'

In [ ]:
d1.get('marks')

In [ ]:
d1['add'] # error

In [ ]:
d1.get('mark', None)

**To retrieve a value from a nested dictionary**

In [ ]:
# mat1 = # list 4th row 5th value

In [ ]:
d2 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 
                   'area' : 'Pak Villas Housing Society', 
                   'city' : 'Okara'},
         'phone': '03460000000'
        }
d2

In [ ]:
d2['address']

In [ ]:
d2['address']['city']

In [ ]:
d2.get('address').get('city')

In [ ]:
# d2['city']

#### c. Retrieving all `key:value` pairs from a Dictionary using `dict.items()`  method
- The `dict.items()` method returns all the key-value pairs of a dictionary as a two object tuple

In [75]:
# Creating a Nested Dictionary
d1 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 'area' : 'Pak Villas Housing Society', 'city' : 'Okara'},
         'phone': '03460000000'
        }
 
d1

{'name': 'ehtisham',
 'status': 'ML Engineer',
 'address': {'house#': 35,
  'area': 'Pak Villas Housing Society',
  'city': 'Okara'},
 'phone': '03460000000'}

In [78]:
for key, value in d1.items():
    if key == 'address':
        print(key, value)

#  list -> [], tuple -> ()

address {'house#': 35, 'area': 'Pak Villas Housing Society', 'city': 'Okara'}

#### d. Retrieving all `keys` of a Dictionary using `dict.keys()`  method
- The `dict.keys()` method returns all the keys  of a dictionary object

#### e. Retrieving all `values` from a Dictionary using `dict.values()`  method
- The `dict.values()` method returns all the values  of a dict object
- If a value occurs multiple times in the dictionary, it will appear that many times

In [ ]:
d1.keys()

In [ ]:
d1.values()

### 4. Adding/Modifying Elements of a Dictionary
#### a. Adding/Modifying Elements using `[]` Operator
- You can  modify value associated with a key using `[]` operator and assignment statement
```
dict[key] = value
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [ ]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
d1['address']

In [ ]:
# Modify value corresponding to an existing key
d1['address'] = 'Township'
d1

In [ ]:
# Adding a new key:value pair
d1['key1'] = 'value1'
d1

#### b. Modifying Elements using `d1.update()` method 
- The `d1.update()` method is used to update the value corresponding to an existing key inside the dictionary
```
dict.update(key:value)
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [ ]:
# Create a simple dictionary
d1 = {
    'name':'Ali', 
    'age':20, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
# Modify value corresponding to an existing key
d1.update({'name':'Ehtisham Sadiq'})
d1

**You can use the `dict.update()` method to merge two dictionaries**

In [ ]:
d1 = {
    'name':'Ehtisham Sadiq', 
    'age':22, 
}

d2 = {
    'address':'Pak Villas', 
    'marks':[60, 75, 80],
    'age':21
}

In [ ]:
d1.update(d2)
d1

### 5. Removing Elements from a Dictionary
#### a. Removing Element using `[]` operator
- To delete a dictionary element use the `del d1[key]` 
- To delete an entire dictionary from memory use `del d1`

In [ ]:
d1 = {
    'name':'Ali', 
    'age':20, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
del d1['age']
d1

In [ ]:
# this will delete the whole directory
del d1
print(d1)  # will generate an error now

#### b. Removing Element using `d1.popitem()` Method
- The `d1.popitem()` removes and returns a (key,value) pair as a 2-tuple
- Pairs are returned in LIFO order, i.e., last inserted element is returned
- Raises KeyError if the dict is empty

In [ ]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
d1.popitem()

#### c. Removing Element using `d1.pop(key)` Method
- The `d1.pop(key)` returns the value only of the key passed as its required argument
- Moreover, the corresponding key-value pair is also removed from the dictionary
- If key is not found a KeyError is raised

In [79]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

{'name': 'Ehtisham', 'age': 22, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [80]:
d1.pop('name')

'Ehtisham'

In [81]:
d1

{'age': 22, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [ ]:
d1.pop('nok?ey') #This will raise an error

#### d. Removing Element using `d1.clear()` Method
- The `d1.clear()` removes all items from the dictionary and returns None

In [ ]:
# Try it by yourself

### 6. Dictionary, Tuple and List conversions

In [ ]:
# Create a simple dictionary for these operations
d1 = {
    'Name': 'Ehtisham Sadiq', 
    'Sex': 'Male', 
    'Age': 23, 
    'Height': 5.7, 
    'Profession': 'ML Engineer'
}
d1

In [ ]:
# The items() method, returns an object of dict_items containing two value tuples
rv = d1.items()

In [ ]:
print(rv)
print("\n", type(rv))

In [ ]:
# You can convert dictionary key-value pairs into a tuple containing two valued tuples
t1 = tuple(d1.items())
print(t1)
print("\n", type(t1))

In [ ]:
#converting dictionary keys only into a tuple
t1 = tuple(d1.keys())
print(t1)
print("\n", type(t1))

In [ ]:
#converting dictionary values only into a list
mylist = list(d1.values())
print("\n", mylist)
print(type(mylist))

### 7. Sorting a Dictionary by Values
- We can use the built-in function `sorted(iterable)` to get a sorted copy of a dictionary (by value). 
- The `sorted(iterable)` returns a sorted version of the iterable, without making any change to the iterable. 
- It's syntax is quite similar to `list.sort()` method, however, the iterator to be sorted needs to be passed as a required parameteras shown below:
```
    sorted(iterable, key=None, reverse=False)
```
- By default the `reverse` argument is `False`, you override the default behavior by passing a `True` value to this argument to perform a descending sort
- A custom key function can also be supplied to customize the sort order.

**Consider the following dictionary having `names` as keys and `marks` as values**

In [ ]:
dict1 = {
        'Ehtisham Sadiq': 81, 
        'Ayesha Sadiq':90, 
        'Ali Sadiq':76, 
        'Dua Sadiq':73,
        'Khubaib Sadiq':93,
        'Adeen Sadiq': 88
        }
dict1

In [ ]:
sorted(dict1)

In [ ]:
sorted(dict1, reverse=True)

**When you pass a dictionary object to the `sorted()` function, it will return the list of sorted dictionary keys**

In [ ]:
sorted(dict1.keys())

**Similarly you can pass the values only to the `sorted()` function, and it will return the list of sorted values**

In [ ]:
d2 = sorted(dict1.values())
d2

**Let us do customized sorting with Python Dictionaries**

**Example 1: Suppose we have a dictionary containing student names along with their marks and we want to sort the dictionary by highest marks of the students first**

In [ ]:
dict1 = {
        'Ehtisham Sadiq': 81, 
        'Ayesha Sadiq':90, 
        'Ali Sadiq':76, 
        'Dua Sadiq':73,
        'Khubaib Sadiq':93,
        'Adeen Sadiq': 88
        }
dict1

In [ ]:
ls = list(dict1.items())
type(ls)

In [ ]:
print(ls)

In [ ]:
ls[0][0], ls[0][1]

In [ ]:
for i in ls:
    print(type(i))
    print(i)
    print("\n")

In [ ]:
for i in ls:
    print(i[1])

In [ ]:
# dict1.items()
for m in dict1.items():
    print(m, m[1])

**Answer**

In [ ]:
# Function receives a key:value tuple (key, value) and returns the value
def func1(item):
    return item[1]

In [ ]:
mylist = sorted(dict1.items(), key = func1, reverse=True)

In [ ]:
mylist

Note the `sorted()` function returned a list object in which each element is a two valued tuple having (key,value) pairs. You can always typecast such lists to a dictionary object

In [ ]:
sorted_dict = dict(mylist)
print(sorted_dict)

In [ ]:
type(sorted_dict)

**Example 2: Suppose we have a JSON array containing name, age and grades of students. We want to sort it by the age of the students.**
- JSON stands for JavaScript Object Notation
- JSON is a text format for storing and transporting data
- A JSON string has comma separated `key:value` pairs

In [ ]:
# The following JSON array defines a student object with 3 properties: `name`, `age`, and `grade`
# It is actually a list containing dictionary objects each object containing three key:value pairs
students = [
         {"name": "Ehtisham Sadiq", "age": 23, "grade": "B"},
         {"name": "Ali Sadiq", "age": 20, "grade": "A"},
         {"name": "Ayesha Sadiq", "age": 17, "grade": "C"},
         {"name": "Dua Sadiq", "age": 7, "grade": "D"},
         {"name": "Adeen Sadiq", "age": 3, "grade": "A"},
         {"name": "Khubaib Sadiq", "age": 5, "grade": "B"}
        ]
students

In [ ]:
for i in students:
    print(i)
    print(i.get('age'))
    print(i.get('grade'))
    print("\n")

In [ ]:
# Function receives a dictionary object and returns the value corresponding to key age in that dictionary
def func2(item):
     return item.get('age') #return item['age']

In [ ]:
sorted_students = sorted(students, key = func2, reverse=False)

sorted_students

Note the `sorted()` function returned a list object in which each element is a dictionary object having three key:value pairs

### 8. Simple Assignment (aliasing) vs Shallow Copy vs Deep Copy

In [ ]:
# Do it by yourself

![](images/dict_operations.jpg)

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:


1. What is a dictionary in Python?
2. How do you create a dictionary?
3. What are keys and values?
4. How do you access the value associated with a specific key in a dictionary?
5. What happens if you try to access the value for a key that doesn't exist in a dictionary?
6. Can a dictionary have two keys with the same value? Two values with the same key?
7. Define a dictionary that maps month name abbreviations to month names.
8. Define a dictionary with five entries that maps student identification numbers to 
their full names.
9. What is the `.get` method of a dictionary used for?
10. How do you change the value associated with a key in a dictionary?
11. How do you add or remove a key-value pair in a dictionary?
12. How do you access the keys, values, and key-value pairs within a dictionary?
13. Describe/Differentiate the concept of aliasing, shallow copy and deep copy using assignment statement, `dict.copy()`, `copy.copy()` and `copy.deepcopy()` methods
14. Practice sorting dictionaries having different types of `key:value` combinations
15. Create and initialize a dictionary that maps the English words `one` through `five` to the numbers 1 through 5.
16. Which part of a dictionary element must be immutable?
17. What is the difference between the dictionary methods pop and popitem?
18.  What does the items method return?
19.  What does the keys method return?
20.  What does the values method return?

In [ ]:
mylist = sorted(dict1.items(), key = func1, reverse=True)

print(mylist)

In [1]:
from IPython.core.display import HTML

style = """
    <style>
        body {
            background-color: #f2fff2;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            color: #4295F4;
            text-decoration: underline;
            padding-top: 15px;
        }
        
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #4A000A;
            text-decoration: underline;
            padding-top: 10px;
        }
        
        h3 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #f0081e;
            text-decoration: underline;
            padding-top: 5px;
        }

        
        p {
            text-align: center;
            font-size: 12 px;
            color: #0B9923;
        }
    </style>
"""

html_content = """
<h1>Hello</h1>
<p>Hello World</p>
<h2> Hello</h2>
<h3> World </h3>
"""

HTML(style + html_content)