<h1 align="center" >Python-Functions </h1>

In [4]:
# Python Introduction
# Variables
# Operators 
# Comments and Indentation
# data-types: Numbers, String, List, Tuple, Dictionary 
# Control Structures: If-else, elif, Loops(for, while)
# List and Dictionary Comprehension 
# Set (X)

## Learning agenda of this notebook

1. What are functions in Python 
2. User Defined Functions in Python
    - Basic Examples
    - Docstring inside a function
    - Passing arguments and Returning value from a function
    - Pass by value vs Pass by reference
3. Arguments of a Python function 
    - Positional/Required arguments
    - Default arguments
    - Keyword arguments
    - Variable length arguments
    - Arbitrary key word arguments
4. Nested functions
5. Understanding Scope in Python
    - Local scope
    - Enclosing scope
    - Global scope
    - Built-in Scope

## 1. What are Functions in Python
- A function in a programming language is group of related statements with a name that perform a specific task.
- The code inside a function executes only when it is called, and it can be called from anywhere in the program any number of times.
- So, functions help break our program into smaller and modular chunks, avoids repetition, makes the code reusable, organized and manageable.
- You can pass data/parameter to a function, which carry out some operation on the data and may or may not return a result.
- *FUNCTIONS*: Functions are created by function definitions and are called using `func(arguments)` notation
    - *Built-in Functions*: are part of the standard Python library, e.g., `print()`, `len()`
    - *User Defined Functions*: are defined by the programmer him/herself (can be anonymous)
- *METHODS*: Methods are functions that are called using the attribute notation. `object.method(arguments)`
    - *Built-in Methods*
    - *Class Instance Methods*

In [5]:
help('FUNCTIONS')

Functions
*********

Function objects are created by function definitions.  The only
operation on a function object is to call it: "func(argument-list)".

There are really two flavors of function objects: built-in functions
and user-defined functions.  Both support the same operation (to call
the function), but the implementation is different, hence the
different object types.

See Function definitions for more information.

Related help topics: def, TYPES

In [6]:
help('METHODS')

Methods
*******

Methods are functions that are called using the attribute notation.
There are two flavors: built-in methods (such as "append()" on lists)
and class instance methods.  Built-in methods are described with the
types that support them.

If you access a method (a function defined in a class namespace)
through an instance, you get a special object: a *bound method* (also
called *instance method*) object. When called, it will add the "self"
argument to the argument list.  Bound methods have two special read-
only attributes: "m.__self__" is the object on which the method
operates, and "m.__func__" is the function implementing the method.
Calling "m(arg-1, arg-2, ..., arg-n)" is completely equivalent to
calling "m.__func__(m.__self__, arg-1, arg-2, ..., arg-n)".

Like function objects, bound method objects support getting arbitrary
attributes.  However, since method attributes are actually stored on
the underlying function object ("meth.__func__"), setting method
attributes on bound methods is disallowed.  Attempting to set an
attribute on a method results in an "AttributeError" being raised.  In
order to set a method attribute, you need to explicitly set it on the
underlying function object:

   >>> class C:
   ...     def method(self):
   ...         pass
   ...
   >>> c = C()
   >>> c.method.whoami = 'my name is method'  # can't set on the method
   Traceback (most recent call last):
     File "<stdin>", line 1, in <module>
   AttributeError: 'method' object has no attribute 'whoami'
   >>> c.method.__func__.whoami = 'my name is method'
   >>> c.method.whoami
   'my name is method'

See The standard type hierarchy for more information.

Related help topics: class, def, CLASSES, TYPES

## 2. How to Create User Defined Functions in Python
<img align="center" width="500" height="300"  src="images/func1.png" >

### a. Basic Example of a Python Function

In [7]:
#defining a function
def func1():
    print("This is example of a function!")
    print("Functions in Python")
    return 6+5

In [8]:
#calling a function (A function must be defined before it is called)
func1()

This is example of a function!
Functions in Python

11

### b. Docstring inside a Function
- We can add some documentation within our function using a *docstring*. 
- A docstring is simply a string that appears as the first statement within the function body, and is used by the `help` function. 
- A good docstring describes what the function does, and provides some explanation about the arguments.

In [9]:
#defining a function
def func1():
    """ This is a docstring that describes what the function do
        It simply display a welcome message
        """
    print("Welcome to Learning Functions in Python")
    print("Functions are reuseable set of code!")

#calling a function
func1()

Welcome to Learning Functions in Python
Functions are reuseable set of code!

In [10]:
# We can access the docstring using the built-in command __doc__. 
# Any identifier that starts with a double underscore is a Python builtin command
# func1.__doc__
print(func1.__doc__)

 This is a docstring that describes what the function do
        It simply display a welcome message

In [12]:
dir(func1)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__getstate__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [15]:
help(func1)

Help on function func1 in module __main__:

func1()
    This is a docstring that describes what the function do
    It simply display a welcome message

### c. Returning value from a Function
* The Python `return` statement is used to end the execution of the function or method and send the function’s result back to the caller. A return statement consists of the `return` keyword followed by an optional return value.
* The statements (if any) after the `return` statement are not executed.
* A Python function or method can return numeric values (int, float, and complex values), collections and sequences of objects (list, tuple, dictionary, or set objects), user-defined objects, classes, functions, and even modules or packages.
* You can use a return statement to return multiple values from a function. To do that, you just need to supply several return values separated by commas.

In [16]:
help('return')

The "return" statement
**********************

   return_stmt ::= "return" [expression_list]

"return" may only occur syntactically nested in a function definition,
not within a nested class definition.

If an expression list is present, it is evaluated, else "None" is
substituted.

"return" leaves the current function call with the expression list (or
"None") as return value.

When "return" passes control out of a "try" statement with a "finally"
clause, that "finally" clause is executed before really leaving the
function.

In a generator function, the "return" statement indicates that the
generator is done and will cause "StopIteration" to be raised. The
returned value (if any) is used as an argument to construct
"StopIteration" and becomes the "StopIteration.value" attribute.

In an asynchronous generator function, an empty "return" statement
indicates that the asynchronous generator is done and will cause
"StopAsyncIteration" to be raised.  A non-empty "return" statement is
a syntax error in an asynchronous generator function.

Related help topics: FUNCTIONS

In [17]:
#defining a function
def mysum2():  
    total = 5 + 9
    return total

#calling a function
rv = mysum2()
print("5 + 9 = ", rv)

5 + 9 =  14

In [18]:
#Returning multiple values from a function
def func():  
    str1 = "hello"
    str2= "bye"
    return str1, str2
rv = func()
print(rv)

('hello', 'bye')

In [19]:
#calling a function
rv1, rv2 = func()
print(rv1)
print(rv2)

hello
bye

### d. Arguments to a Python Function
- Functions can accept zero or more values as *inputs* (also knows as *arguments* or *parameters*). Arguments help us write flexible functions that can perform the same operations on different values. Further, functions can return a result that can be stored in a variable or used in other expressions.
- Arguments are called **required arguments** means that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.
- Arguments are called **positional arguments** because while calling the function, the arguments must be passed in the correct positional order to get the desired result. e.g., in case of `subtract(a, b)`

In [20]:
# A function that is passed two numbers and it returns their sum
def mysum3(a, b):  
    """Calculates and return the sum of two numbers.
    Arguments:
       a - First number 
       b - Second number
    """
    total = a + b
    return total
    print("I'm in function")

#calling a function
x = 18
y = 15
rv = mysum3(x, y)
print(x, " + ", y, " = ", rv)

18  +  15  =  33

In [21]:
help(mysum3)

Help on function mysum3 in module __main__:

mysum3(a, b)
    Calculates and return the sum of two numbers.
    Arguments:
       a - First number
       b - Second number

In [22]:
mysum3(2,3,4)

TypeError: mysum3() takes 2 positional arguments but 3 were given

In [23]:
# A function that receives a list and returns a List data type containing sub-list containing even numbers
def filter_even_odd(list1):
    new_even = []
    new_odd = []
    for i in list1:
        if i%2==0:
            new_even.append(i)
        else:
            new_odd.append(i)
            
    print("List of even numbers is : ", new_even)
    print("List of odd numbers is  : ", new_odd)

In [24]:
list2 = [3,4,5,56,66,7,7,65,34,34,435,34,5,534,54,543,5,345]
filter_even_odd(list2)

List of even numbers is :  [4, 56, 66, 34, 34, 34, 534, 54]
List of odd numbers is  :  [3, 5, 7, 7, 65, 435, 5, 543, 5, 345]

### e.  Pass by value vs Pass by reference
- All arguments (less intrinsic types) in Python are passed by reference. It means if you change what a parameter refers to within a function, the change also reflects back in the calling function.

![](images/pass-by-reference-vs-pass-by-value-animation.gif)

In [25]:
# Function arguments of intrinsic types like int, float, strings are passed by value
def myfunc(nam):
    nam = "Ehtisham"
    return nam

a = "Ali"
print("Before calling: ", a)

rv = myfunc(a)
print("After calling: ", a)

Before calling:  Ali
After calling:  Ali

In [29]:
# Function arguments of intrinsic types like int, float, strings are passed by value
def myfunc(x, y, z):
    a = x + 1
    b = y + 1
    c = z + 1
    return x, y, z,a,b,c

a = 10
b = 20
c = 30

rv = myfunc(a, b, c)
print(rv)
print(a, b, c)

(10, 20, 30, 11, 21, 31)
10 20 30

In [30]:
# Lists, Tuples, Sets, and Dictionary objects are passed to functions as reference
# The changes made by the callee are visible to the caller (but not for tuples as they are immutable)
def func1(l1):
    l1[2] = 'x'
    
mylist = ['a', 'b', 'c', 'd', 'e', 'f']
print("Before calling: ", mylist)

func1(mylist)
print("After calling: ", mylist)

Before calling:  ['a', 'b', 'c', 'd', 'e', 'f']
After calling:  ['a', 'b', 'x', 'd', 'e', 'f']

In [31]:
# Example: 
def func1(list2):
    list2[4]='y'
    l3 = list2[1:4]
    l3[0] = 'x'
    print("List l3 is local to the function having: ", l3)
    
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
print("Before calling: ", list1)

func1(list1)
print("After calling: ", list1)

Before calling:  ['a', 'b', 'c', 'd', 'e', 'f']
List l3 is local to the function having:  ['x', 'c', 'd']
After calling:  ['a', 'b', 'c', 'd', 'y', 'f']

In [32]:
# Example: 
def func1(list2):
    l3 = list2[1:4]
    print("List l3 is local to the function having: ", l3)
    return l3
    
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
print("Before calling list1: ", list1)
 
returned_list = func1(list1)
print("After calling list1: ", list1)
print("Returned list is : ", returned_list)

Before calling list1:  ['a', 'b', 'c', 'd', 'e', 'f']
List l3 is local to the function having:  ['b', 'c', 'd']
After calling list1:  ['a', 'b', 'c', 'd', 'e', 'f']
Returned list is :  ['b', 'c', 'd']

In [33]:
# Tuples are mutable: proof of concept
def func1(t1):
    t1[2] = 'x'
    
mytuple = ('a', 'b', 'c', 'd', 'e', 'f')
print("Before calling: ", mytuple)

func1(mytuple)
print("After calling: ", mytuple)

Before calling:  ('a', 'b', 'c', 'd', 'e', 'f')

TypeError: 'tuple' object does not support item assignment

**A List sorting example to differentiate between Pass By Value and Pass by Reference**

In [34]:
# Example: The function sort the list that is passed by reference (Selection Sort)
def sel_sort1(mylist):  
    for i in range(len(mylist)):
        min_idx = i
        for j in range(i+1, len(mylist)):
            if mylist[min_idx] > mylist[j]:
                min_idx = j  
        mylist[i], mylist[min_idx] = mylist[min_idx], mylist[i] # Swap minimum element with the first element

numbers = [25, 15, -6, 8, 2]
rv = sel_sort1(numbers)
print("Passed list is sorted: ", numbers)
print("Returned value: ", rv)

Passed list is sorted:  [-6, 2, 8, 15, 25]
Returned value:  None

In [35]:
# Example: The function creates a new copy of the list that is passed by reference, sort the copy and return
# The passed list remains unchanged
def sel_sort2(mylist):
    newlist = mylist[:]
    for i in range(len(mylist)):
        min_idx = i
        for j in range(i+1, len(mylist)):
            if newlist[min_idx] > newlist[j]:
                min_idx = j  
        newlist[i], newlist[min_idx] = newlist[min_idx], newlist[i] # Swap minimum element with the first element
    return newlist

numbers = [25, 15, -6, 8, 2]
rv = sel_sort2(numbers)
print("Returned list: ", rv)
print("Passed list is unchanged: ", numbers)

Returned list:  [-6, 2, 8, 15, 25]
Passed list is unchanged:  [25, 15, -6, 8, 2]

## 3. Function Arguments in Python
- There are following points that one needs to keep in mind while using arguments in Python functions:
    - Required Arguments / Positional arguments
    - Default Arguments
    - Named/Keyword Arguments
    - Variable length Arguments
    - Arbitrary Keyword Arguments

### a. Required/Positional arguments
- If a function expect two arguments, you have to call the function with exactly two arguments.
- Moreover, arguments must be passed in correct positional order to get the desired result.

In [36]:
def mysub(a, b):
    return a - b

In [37]:
x = 8
y = 3
# calling a function with both arguments (order matters)
rv = mysub(x, y)
rv

5

In [38]:
mysub(x)

TypeError: mysub() missing 1 required positional argument: 'b'

In [39]:
mysub(3, 2, 4)

TypeError: mysub() takes 2 positional arguments but 3 were given

### b. Default arguments
- In a function definition, we can assign default values to arguments.
- During function call, if a value is not passed to that argument, the function assumes the default value.

In [40]:
# Function with default arguments
def display(name = 'Ali', age = 18):
    print ("Name: ", name, ", Age: ", age)
    return;

In [41]:
# calling a function
display()

Name:  Ali , Age:  18

In [42]:
# calling a function with both arguments (order matters)
display("Ehtisham", 22)

Name:  Ehtisham , Age:  22

In [43]:
# calling a function with one argument only (the default value of age will be printed)
display("Ayesha" )

Name:  Ayesha , Age:  18

In [44]:
# You cannot skip the first default argument and give the second
display(51 )
#Solution is keyword arguments (discussed below)

Name:  51 , Age:  18

### c. Keyword/Named arguments
- If you want to bypass the positional argument rule, we can pass arguments in any order by mentioning their parameter names, which the function definition is expecting.
- Using **keyword/named arguments**, a programmer can pass arguments in any order by mentioning their parameter names while calling the function

In [45]:
# Function calling with key word arguments
def display(name, age):
    print ("Name: ", name, ", Age: ", age)
    return;

# Sequence/order of arguments matter
display(22, "Ehtisham")

Name:  22 , Age:  Ehtisham

In [46]:
# Sequence/order of arguments DOES NOT matter now
display(age=22, name="Ehtisham") # passing parameters in any order using keyword argument

Name:  Ehtisham , Age:  22

### d. Variable length arguments
- Although we can pass a list to a function containing any number of elements.
- But sometimes, we need more flexibility while defining functions like we don't know in advance the fixed number of arguments.
- Python allows us to make function calls with variable length arguments.
- If you want a function to receive variable number of arguments, you place an asterisk (`*`) before the variable name.
- This way the function will receive a tuple of arguments (an iterable), and can access the items accordingly

In [47]:
def my_function(*args):   # Whatever is passed to this function, it will create an iterable out of it
    print(type(args))
    for i in args:
        print(i)

In [48]:
my_function('Ehtisham','Ali', 'Dua', 'Ayesha', 'Adeen', 'Khubaib')
print("\n")

<class 'tuple'>
Ehtisham
Ali
Dua
Ayesha
Adeen
Khubaib

In [53]:
# Example: Passing variable number of arguments to a function
def my_function(*args):   # Whatever is passed to this function, it will create an iterable out of it
    for i in args:        # We can use the iter() and next() function to iterate through the iterable
        print(i, end=' \n')

In [54]:
my_function()

In [55]:
my_function('Ehtisham','Ali')
print("\n")

Ehtisham
Ali

In [56]:
my_function(1, 2, 3, 4, 5, 6, 7, 8)
print("\n")

my_function(5, 2.5, 9)

1
2
3
4
5
6
7
8


5
2.5
9

### e. Arbitrary keyword arguments
- Arbitrary keyword arguments (`**kwarg`) is just like variable length arguments (`*arg`). The difference is instead of accepting positional arguments, it accepts keyword (or named) arguments.
- When using the ** parameter, the order of arguments does not matter. However, the name of the arguments must be the same.
- This way the function will receive a dictionary of arguments, and you can access the items accordingly

In [57]:
def myfunc(**kwargs):
    # Iterating over the key:value pairs of kwargs dictionary
    for arg in kwargs.items():
        print(arg)

        
myfunc(a = "Data", b = 'Science', c = 'using', d ='Python')

('a', 'Data')
('b', 'Science')
('c', 'using')
('d', 'Python')

In [58]:
def myfunc(**kwargs):
    result = ""
    # Iterating over the values only of kwargs dictionary
    for arg in kwargs.values():
        print(arg)

myfunc(a = "Data", b = 'Science', c = 'using', d ='Python')

Data
Science
using
Python

In [59]:
def greet(**kwargs):
    print('Hello, ', kwargs['fname'],  kwargs['mname'], kwargs['lname'])

greet(lname='Sadiq', fname='Muhammad', mname= 'Ehtisham')

Hello,  Muhammad Ehtisham Sadiq

## 5. Functions can be Nested in Python
- A function that is defined inside another function is called nested or inner function.
- Nested or inner function can access variables created in the outer function (enclosing scope).

In [2]:
def outerFunction(): 
    name = 'Ehtisham' # Enclosing Scope
    def innerFunction():
        print(name)
#     calling of inner function    
    innerFunction()

In [3]:
outerFunction()

Ehtisham

In [4]:
innerFunction() # This line will raise a NameErrror
                 # because an innerFunction() can only be accessed in the outerFunction() body, and not outside it

NameError: name 'innerFunction' is not defined

## 6. Understanding Scope in Python
- **Scope of Variable** means the part of program where we can access that particular variable. 
- **Lifetime of a variable** is the period throughout which the variable exists in memory. The lifetime of a variable inside a function is as long as the function executes. They are destroyed once we return from the function. Hence, a function does not remember the value of a variable from its previous calls.
- **Symbol Table**: Python interpreter maintains a data structure called symbol table (using a dictionary object) containing information about each identifier appearing in the program's source code. 

<img align="right" width="500" height="300"  src="images/scopes.jpeg" > 

- In Python, there are 4 types of Variable Scopes
    >- Local Scope
    >- Nonlocal/Enclosing Scope
    >- Global Scope
    >- Built-in Scope

### a. Understanding Local  Scope
>**Local Scope:** Python first tries to search for an identifier (variable) in Local scope. The local variable exists only within the block/function that it is declared in. When that block/function ends, the local variable has no significance, it gets destroyed. We cannot use it outside the function where it is declared.

In [5]:
# Example 1: Understanding Local Scope
# The variable 'bb' declared inside the function is local to that function
# When you try to access (read/write) it outside the function, Python raises a NameError

def my_function():
    bb = 1234  # a new local variable named 'a' is created
    print("Value of variable 'bb' inside function: ", bb)

my_function()

Value of variable 'bb' inside function:  1234

In [6]:
print("Value of variable 'bb' outside function: ", bb) #Raise NameError, as the variable 'bb' no longer exists

NameError: name 'bb' is not defined

### b. Understanding Enclosing Scope
>**Enclosing Scope:** Enclosing (or nonlocal) scope is a special scope that only exists for nested functions. If Python does not find an identifier (variable) within the local scope, it will examine the Enclosing scope to see if it can find the variable there.

In [7]:
# Example 1: Understanding Enclosing / Non-Local Scope
def f1():
    x = 4
    def f2():
        print(x)  #Since there is no variable 'x' defined in f2(), so it will search it in the non-local scope
    f2()
    print(x)     #The variable 'x' is defined in the local scope of f1() function

f1()

4
4

In [8]:
f2()

NameError: name 'f2' is not defined

In [9]:
x

NameError: name 'x' is not defined

In [10]:
# Example 2: Understanding Enclosing / Non-Local Scope
def f1():
    cc = 1234      # cc is local variable to f1()
    def f2():
        cc = 4321  # cc is local variable to f2()
        print("Inside the f2() function: cc = ", cc)
    f2()
    print("Inside the f1() function: cc = ", cc)


f1()

Inside the f2() function: cc =  4321
Inside the f1() function: cc =  1234

### c. Understanding Global Scope
>- **Global Scope:** A global variable is accessible from anywhere in your script, including from within a function. It is usually defined at the top of the script or outside of the function. 
>- Python first tries to find an identifier in the local scope, then in the non-local/enclosing scope. If it cannot find it in those two scopes then it will search the identifier in the global scope.

In [11]:
# Example 1: Understanding Global Scope

b = 9999   # a global variable
def my_function():
    print("Value of variable 'b' inside function: ", b)

my_function()
print("Value of global variable 'b' outside function: ", b)

Value of variable 'b' inside function:  9999
Value of global variable 'b' outside function:  9999

In [12]:

# Example 2: Understanding Global Scope
c = 1234     # a global variable named 'c'
def my_function():
    c = 4321  # a new local variable named 'c' is created
    print("Value of variable 'c' inside function: ", c)
my_function()

Value of variable 'c' inside function:  4321

In [13]:
# Over here the local variable c containing 4321 does not exist, therefore, Python interpreter will look 
# in the non-local/enclosing scope, it also doesnot contain variable c, so
# finally the Python interpreter will look in the global scope, where it exist with value of 1234
print("Value of variable 'c' outside function: ", c)

Value of variable 'c' outside function:  1234

### d. Understanding Built-in Scope
>- The Built-in scope has all the functions and variables that are there, when we start the Python interpreter, e.g., the `print()`, `len()` and `id()` functions are in the built-in scope.
>- If an identifier is not found in local, enclosing and global scopes within a module, then Python will examine the built-in scope to see if it is defined there.

In [14]:
# Example: Since the identifier `len` is not found in local, enclosing and global scopes, therefore,
# Python would consult the Built-In scope, where it will find the len function and outputs 12
x = len('Data Science')    
print(x)

12

In [15]:
# Example: Since the identifier `len` is there in the local scope, therefore
# Python would use the `len` function defined in local scope and not the Built-In scope, and outputs 54
def len(x):
    return 54

y = len('Data Science')    
print(y)

54

In [70]:
del len

### e. Use of `global` Keyword
>- The `global` keyword is used to tell the Python interpreter to use the globally defined variable instead of locally defining it. 
>- Let us understand this with example:

**We cannot update the value of a global variable inside a function (local scope). If you try to do so it will raise an error**

In [16]:
# Example:
c = 1234         # c is a global variable
def my_function():
    c = c + 1    # Updating global variable inside function
    print("Value of variable 'c' inside function: ", c)

my_function()
print("Value of variable 'c' outside function: ", c)

UnboundLocalError: cannot access local variable 'c' where it is not associated with a value

**If you want to update the value of a global variable inside a function, simply type `global` followed by the variable name. This will tell Python interpreter to use the globally defined variable instead of locally defining it**

In [17]:
# Example: To update a global variable inside a function, you use the global keyword
d = 1234
def my_function():
    global d   # global keyword does not create a new local variable, rather allows you to access the global var
    d = d + 1  # Updating global variable inside function
    print("Value of variable 'd' inside function: ", d)

my_function()
print("Value of variable 'd' outside function: ", d)

Value of variable 'd' inside function:  1235
Value of variable 'd' outside function:  1235

<h1 align="center" style="color:red"> Advance-Functions </h1>

## Review of Python Functions
<img align="center" width="500" height="300"  src="images/func1.png" >

## Learning agenda of this notebook
1. Anonymous / Lambda Functions
2. Using lambda function as argument to other functions
3. Using Lambda Function with built-in `map()` function
4. Using Lambda Function with built-in `filter()` function
5. Using Lambda Function with built-in `reduce()` function
6. Using Lambda Function with built-in `sorted()` function
7. Bonus
    - The `zip()` function
    - Iterators and Generators

In Python, an anonymous function is a function that is defined without a name. While normal functions are defined using the def keyword in Python, anonymous functions are defined using the lambda keyword. Hence, anonymous functions are also called lambda functions.

## 1. Lambda / Anonymous Functions
The syntax of defining a lambda function is:**```lambda [arg1 [,arg2,.....argn]]:expression```**

<img align="center" width="800" height="400"  src="images/lambda.png" >

### a. Example 1: A function that is passed one argument and it returns its square
- Let us do this example step by step to completely understand the process of writing lambda functions

In [18]:
def square1(num):
    result = num**2
    return result

In [19]:
rv = square1(5)
rv

25

**Let us try to shrink the above function**

In [21]:
def square2(num):
    return num**2

In [22]:
rv = square2(5)
rv

25

**Although not a good programming style, however, we can write this in a single line**

In [23]:
def square3(num): return num**2

In [24]:
rv = square3(5)
rv

25

**This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:**

In [25]:
lambda num: num**2

Note how we get a function back. We can assign this function to a label:

In [26]:
square4 = lambda num: num**2

In [27]:
print(square4)      
print(type(square4))

<function <lambda> at 0x11168aca0>
<class 'function'>

In [28]:
rv = square4(6)
rv

36

### b. Example 2: A function that is passed two arguments and it returns their sum
```
def mysum2(a, b):
   return a+b

rv = mysum2(5, 7)
rv
```

In [29]:
mysum2 = lambda a, b: a + b   
type(mysum2)

function

In [31]:
rv = mysum2(5.3,7)
rv

12.3

### c. Example 3: A function that is passed three arguments and it returns their sum
```
def mysum3(a, b, c):
   return a+b+c

rv = mysum3(5, 7, 9)
rv
```

In [32]:
def multiply(a,b,c):
    return a*b*c

ab = multiply(4,5,6) 
ab

120

In [33]:
mysum3 = lambda a, b, c: a + b + c  
rv = mysum3(5.5, 6.3, 2.7)         # return type corresponds to the expression
rv

14.5

In [34]:
rv = mysum3(5.5, 6.3)         # return type corresponds to the expression
rv

TypeError: <lambda>() missing 1 required positional argument: 'c'

### d. Example 4: A function that is passed one argument and it returns True if it is even and False otherwise

In [35]:
# Here write your code

# First Method
def check_even(num):
    if num%2==0:
        return True
    else:
        return False
    
    
check_even(23)

False

In [36]:
# Second Method
def check_even(num):
    return num%2==0
check_even(22)

True

In [37]:
even = lambda x: x % 2 == 0
even(5)         # return type corresponds to the expression

False

In [38]:
even = lambda x: x % 2 == 0
even(4)         # return type corresponds to the expression

True

### e. Example 5: A function that is passed a string and returns the first character of that string

In [39]:
def first_last(string):
    return string[0]


rv = first_last("Ehtisham")
rv

'E'

In [40]:
func = lambda s: s[0]
func("ALI")

'A'

### f. Example 6: A function that is passed a string, it returns the reverse of that string

In [41]:
# method no 01
def reverseString(string):
    return string[::-1]
rv = reverseString("Ehtisham")
rv

'mahsithE'

In [42]:
# method no 03
func = lambda s: s[::-1]

func("Hello World")

'dlroW olleH'

In [ ]:
# sorted("Ehtisham", reverse=True)

>**The real usage of Python Lambda functions is actually passing them as arguments to other functions like `map()`,`filter()` and `reduce()`**

## 2. Using Lambda Function as Argument to other Functions

**Three regular function definitions and their calling convention**

In [43]:
# Some basic functions that receives two arguments and return their sum, diff, mul
def myadd(a, b):
    return a + b

def mysub(a, b):
    return a - b

def mymul(a, b):
    return a * b


# Calling above functions
rv1 = myadd(8,2)
rv2 = mysub(8, 2)
rv3 = mymul(8, 2)
print(rv1, rv2, rv3)

10 6 16

**We can write above three functions as lambda functions**

In [44]:
myadd = lambda a,b:a+b
mysub = lambda a,b:a-b
mymul = lambda a,b:a*b
print(myadd(8,2), mysub(8,2), mymul(8,2))

10 6 16

**Now, let us write a calculator function that other than receiving two arguments, also receives a function name which specifies the operation that needs to be performed on the arguments**

In [45]:
def mycalc(op, a, b):
    return op(a,b)

In [46]:
myadd = lambda a, b: a+b
mysub = lambda a, b: a-b
mymul = lambda a, b: a*b

In [47]:
rv1 = mycalc(myadd, 8, 2)
rv2 = mycalc(mysub, 8, 2)
rv3 = mycalc(mymul, 8, 2)

rv1, rv2, rv3

(10, 6, 16)

**A more elegant way of writing above code**

In [48]:
rv1 = mycalc(lambda a, b: a + b, 8, 2)
rv2 = mycalc(lambda a, b: a - b, 8, 2)
rv3 = mycalc(lambda a, b: a * b, 8, 2)

print(rv1, rv2, rv3)

10 6 16

## 3. Using Lambda Function as Argument to built-in `map()` Function
- The ```map(aFunction, *iterables)``` function simply returns a map object after applying  `aFunction()` to all the elements of `iterable(s)`. Later you can type cast the map object to appropriate data structure
- The original iterable(s) remains unchanged.

- Map in Python is a function that works as an iterator to return a result after applying a function to every item of an iterable (tuple, lists, etc.). It is used when you want to apply a single transformation function to all the iterable elements. The iterable and function are passed as arguments to the map in Python.

In [49]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

### a. Example 1: 
**Given a list of numbers, suppose we want to create a new list in which every element is the square every item of the given list**

**Option 1: We can do this using a simple loop**

In [50]:
mylist = [5, 7, 2, 6, 9]

mylist_squared = []    # create an empty list
for a in mylist:
    mylist_squared.append(a**2)   # append new item at the end of the newly created list

print("Original list: ", mylist)
print("List with items squared: ", mylist_squared)

Original list:  [5, 7, 2, 6, 9]
List with items squared:  [25, 49, 4, 36, 81]

**Option 2: We can do this using `map()` function and passing an appropriate regular function as its first argument**

In [51]:
mylist = [5, 7, 2, 6, 9,8]

def sqr(x):
    return x ** 2


map_object = map(sqr, mylist)
print(map_object)
print(type(map_object))

<map object at 0x1114eb250>
<class 'map'>

In [52]:
mylist_squared = list(map_object)
print("Original list: ", mylist)
print("List with items squared: ", mylist_squared)

Original list:  [5, 7, 2, 6, 9, 8]
List with items squared:  [25, 49, 4, 36, 81, 64]

- We passed a user defined function `sqr(x)`, to the `map` function, along with the list of items on which to apply that function
- `map()` function calls `sqr()` function on each list item and collects all the return values into a map object, which is type casted to a list
- Since `map()` expects a function to be passed in, so this is where we can also use lambda functions as shown below

**Let us use Lambda Function as key argument to `map()` function to perform the above task**

In [53]:
# iterable as a list
mylist = [5, 7, 2, 6, 9]

# map function call
map_object = map(lambda x: x ** 2 , mylist)

In [54]:
mylist_squared = list(map_object)

print("Original list: ", mylist)
print("List with items squared: ", mylist_squared)

Original list:  [5, 7, 2, 6, 9]
List with items squared:  [25, 49, 4, 36, 81]

**Let us do this with List comprehension**

In [55]:
mylist = [5, 7, 2, 6, 9]
newlist = [i**2 for i in mylist]
newlist

[25, 49, 4, 36, 81]

### b. Example 2: 
**Given a list of numbers, suppose we want to create a new list in which every element is the remainder once the original list element is divided by 5**

In [56]:
# 1st method using for loop
mylist = [74, 85, 14, 23, 56, 32, 45 ]


def remainders(list1):
    new_remainders = []
    for i in list1:
        new_remainders.append(i%5)
    return new_remainders

# calling of function
rv = remainders(mylist)


print("Original List : ", mylist)
print("List of remainders :", rv)

Original List :  [74, 85, 14, 23, 56, 32, 45]
List of remainders : [4, 0, 4, 3, 1, 2, 0]

#### Second Method

In [57]:
# 2nd method using list comphrension

mylist = [74, 85, 14, 23, 56, 32, 45, 96 ]

In [58]:
# Regular Function
def remainders(list1):
    return [i%5 for i in list1] # List Comprehension

In [59]:
rv = remainders(mylist)

print("Original List : ", mylist)
print("List of remainders :", rv)

Original List :  [74, 85, 14, 23, 56, 32, 45, 96]
List of remainders : [4, 0, 4, 3, 1, 2, 0, 1]

In [60]:
# 3rd method using map function
mylist = [74, 85, 14, 23, 56, 32, 45, 96 ]


remainders = list(map(lambda x:x%5,mylist))


print("Original list: ", mylist)

print("List of remainders: ", remainders)

Original list:  [74, 85, 14, 23, 56, 32, 45, 96]
List of remainders:  [4, 0, 4, 3, 1, 2, 0, 1]

### c. Example 3: 
**Suppose we want to add two lists, here we want to add each occurence of each list with its corresponding value**

In [61]:
mylist1 = [4, 8, 3, 2]
mylist2 = [3, 1, 2, 6]

In [62]:
print(mylist1 + mylist2) #what's problem in this line of code?
# This is simply list concatenation

[4, 8, 3, 2, 3, 1, 2, 6]

In [63]:
#what's problem in this line of code?
result = lambda a,b:a+b
result(mylist1, mylist2)

[4, 8, 3, 2, 3, 1, 2, 6]

In [65]:
# Method 01

mylist1 = [4, 8, 3, 2]
mylist2 = [3, 1, 2, 6]

result = tuple(map(lambda a, b: a + b, mylist1, mylist2)) #two arguments are passed to lambda func (one from each list)
print("Sum of the two lists: ", result)

Sum of the two lists:  (7, 9, 5, 8)

In [ ]:
# 2nd method using for loop
def SumOfTwoList(list1, list2):
    SUM = [] 
    for i in range(len(list1)):
        if len(list1) == len(list2):
            SUM.append(list1[i] + list2[i])
        else:
            print("The two lists must have the same length.")
    return SUM

In [ ]:
mylist1 = [4, 8, 3, 2]
mylist2 = [3, 1, 2, 6]
print(SumOfTwoList(mylist1, mylist2))

### d. Example 4: 
**Given a list of strings, suppose we want to create another list that contains the length of each string in the list**

In [71]:
# First Method using user defined function and list comprehension

def CalLength(List_of_String):
    return [len(i) for i in List_of_String]


list1 = ['Ehtisham', 'Ali', 'Ayesha', 'Dua']

CalLength(list1)

[8, 3, 6, 3]

In [72]:
# Second Method using for loop and user defined function

def CalLength(List_of_String):
    list_of_length = []
    
    for i in List_of_String:
        list_of_length.append(len(i))
    return list_of_length


list1 = ('Ehtisham', 'Ali', 'Ayesha', 'Dua')
rv = CalLength(list1)

print("Original List is : ", list1)
print("Length of each element of List : ", rv)

Original List is :  ('Ehtisham', 'Ali', 'Ayesha', 'Dua')
Length of each element of List :  [8, 3, 6, 3]

In [73]:
# 3rd method using map function
list1 = ('Ehtisham', 'Ali', 'Ayesha', 'Dua')
result = list(map(lambda a: len(a), list1))
print("Length of Strings in list1: ", result)

Length of Strings in list1:  [8, 3, 6, 3]

In [ ]:
# Python Intro
# variables
# operators 
# indentation and comments
# data-types(mutable and immutable)
# string, tuple, numbers
# list, dictionary
# tuple, set
# loops, control structures
# functions

# Bonus

In [2]:
# pandas and seaorn 
import pandas as pd
import seaborn as sns

In [3]:
# loading dataset
df = sns.load_dataset('titanic')

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.pclass.value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [6]:
# df.isna().sum()
def modify_pclass(x):
    if x==3:
        return "Third Class"
    elif x==2:
        return "Second Class"
    elif x==1:
        return "First Class"
    else:
        pass

In [7]:
df.pclass

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: pclass, Length: 891, dtype: int64

In [10]:
# list(map(modify_pclass, df.pclass))

In [11]:
df['pclass']  = df.pclass.map(modify_pclass)

In [12]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,Third Class,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,First Class,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,Third Class,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,First Class,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,Third Class,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [13]:
df.pclass.value_counts()

pclass
Third Class     491
First Class     216
Second Class    184
Name: count, dtype: int64

## 4. Using Lambda Function as Argument to built-in `filter()` Function
```
filter(function or None, iterable)
```
- The `filter()` function offers a convenient way to filter out all the elements of an iterable, for which the function returns true.
- If function argument is None, return the items that are itself True.
- The filter object contains only those items of iterable for which  `function(item)` returns True. 
- The original iterable remains unchanged. 
- The filter object can be converted to a list using the `list()` function

### a. Example 1: 
**A very basic usage of `filter()`, that returns the True elements of a list**
- In Python, the following objects are considered false:
    >- Constants like `None` and `False`
    >- Numeric types having values: 0, 0.0, 0j
    >- Empty sequences and collections like `""`, `()`, `[]`, `{}`, `set()`, and `range(0)`

In [15]:
bool(5)

True

In [14]:
mylist = [5, 0, -3, {}, False, 0.0, True, 9, 0j, (), None, 8]

result = filter(None, mylist)
print(result)
print(type(result))
print(list(result))

<filter object at 0x1417b20b0>
<class 'filter'>
[5, -3, True, 9, 8]

### b. Example 2: 
**Suppose we want to extract even numbers from a list**

#### Use map method to do this task

In [16]:
numbers = [1, 5, 4, 6, 8, 11, 3, 12]
numbers

[1, 5, 4, 6, 8, 11, 3, 12]

In [17]:
Object2 = list(map(lambda a:a%2==0, numbers))
Object2
# map function will not work for this task

[False, False, True, True, True, False, False, True]

In [18]:
# First Method using user defined Function and list comprehension

def even_number(list1):
    return [i for i in list1 if i%2==0]

rv =even_number(numbers) 

print("Original List : ", numbers)

print("List of even numbers : ", rv)

Original List :  [1, 5, 4, 6, 8, 11, 3, 12]
List of even numbers :  [4, 6, 8, 12]

In [19]:
# First Method using user defined Function and for loop
def even_number(list1):
    even_list = []
    for i in list1:
        if i%2==0:
            even_list.append(i)
    return even_list


rv =even_number(numbers) 
print("Original List : ", numbers)
print("List of even numbers : ", rv)

Original List :  [1, 5, 4, 6, 8, 11, 3, 12]
List of even numbers :  [4, 6, 8, 12]

In [20]:
# 3rd method using lambda and filter function
numbers = [1, 5, 4, 6, 8, 11, 3, 12]
result = list(filter(lambda x: x%2 == 0 , numbers))
print("Even numbers in the list are: ", result)

Even numbers in the list are:  [4, 6, 8, 12]

### c. Example 3: 
**Suppose we want to extract negative numbers from a list**

In [21]:
# First Method using user defined function and list comprehension
numbers = [25, -3, -8, 17, 3, 8, -3, 6, -7, 0]
def getNegative(list1):
    return [i for i in list1 if i<0]


rv = getNegative(numbers)
print("Original List : ", numbers)
print("List of Negative Numbers is : ", rv)

Original List :  [25, -3, -8, 17, 3, 8, -3, 6, -7, 0]
List of Negative Numbers is :  [-3, -8, -3, -7]

In [23]:
# Second method using user defined functions and for loop
numbers = [25, -3, -8, 17, 3, 8, -3, 6, -7, 0]
def getNegative(list1):
    negativeList = []
    for i in list1:
        if i<0:
            negativeList.append(i)
    return negativeList


rv = getNegative(numbers)
print("Original List : ", numbers)
print("List of Negative Numbers is : ", rv)

Original List :  [25, -3, -8, 17, 3, 8, -3, 6, -7, 0]
List of Negative Numbers is :  [-3, -8, -3, -7]

In [22]:
# 3rd method using lambda and filter function
numbers = [25, -3, -8, 17, 3, 8, -3, 6, -7, 0]

result = list(filter(lambda x: x<0, numbers))
print("Negative numbers in the list are: ", result)

Negative numbers in the list are:  [-3, -8, -3, -7]

### d. Example 4: 
**Suppose we want to extract vowels from a list of alphabets**

In [24]:
# First Method using user defined function and for loop
def ExtractVowels(ListOfCharacters):
    
    vowels = ['a','e','i','o','u']
    
    ListOfVowels = []
    
    for i in ListOfCharacters:
        if i in vowels:
            ListOfVowels.append(i)
    
    print("Original List : ", ListOfCharacters)
    
    print("List of Vowels in the List of Alphabets : ", ListOfVowels)

    
characters = ['i', 'z', 'b', 'a', 'd', 'f', 't', 'e','w', 'x']
ExtractVowels(characters)

Original List :  ['i', 'z', 'b', 'a', 'd', 'f', 't', 'e', 'w', 'x']
List of Vowels in the List of Alphabets :  ['i', 'a', 'e']

In [25]:
# Second Method using user defined function and List comprehension

def ExtractVowels(ListOfCharacters):
    vowels = ['a','e','i','o','u']
    
    ListOfVowels =[i for i in ListOfCharacters if i in vowels]
    
    print("Original List : ", ListOfCharacters)
    print("List of Vowels in the List of Alphabets : ", ListOfVowels)

    
characters = ['i', 'z', 'b', 'a', 'd', 'f', 't', 'e','w', 'x']
ExtractVowels(characters)

Original List :  ['i', 'z', 'b', 'a', 'd', 'f', 't', 'e', 'w', 'x']
List of Vowels in the List of Alphabets :  ['i', 'a', 'e']

In [26]:
characters = ['i', 'z', 'b', 'a', 'd', 'f', 't', 'e','w', 'x']
vowels = ['a', 'e', 'i', 'o', 'u']


result = filter(lambda x: x in vowels, characters)
result = list(result)    
print("Vowels in the list are: ", result)

Vowels in the list are:  ['i', 'a', 'e']

## 5. Using Lambda Function as Argument to built-in `reduce()` Function
- Python's reduce() is a function that implements a mathematical technique called folding or reduction. reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.
- The `reduce()` works differently than `map()` and `filter()`. It does not return a new iterable based on the function and iterable we've passed. Instead, it returns a single value.
```
reduce(func, sequence[, initial])
```
<img align="right" width="300" height="300"  src="images/reduce.png" > 

- If seq = `[ s1, s2, s3, ... , sn ]`, then calling `reduce(func, seq)` works like this:
    - Apply `func` argument to the first two items in the iterable and generate a partial result, i.e. `func(s1,s2)`
    - The list on which `reduce()` works looks now like this: `[ func(s1, s2), s3, ... , sn ]`
    - In the next step the function will be applied on the previous result and the third element of the list, i.e. `func(func(s1, s2),s3)`
    - The list looks like this now: `[ function(function(s1, s2),s3), ... , sn ]`
    - It continues like this until just one element is left and return this element as the result of `reduce()`
- If initial is present, it is placed before the items of the sequence in the calculation, and serves as a default when the sequence is empty. The optional argument `initial` when provided is used as the 0th element
- In Python 3.x, if you need to use `reduce()`, then you first have to import the function into your current scope using an import statement in one of the following ways:
    - `import functools` and then use fully-qualified names like functools.reduce().
    - `from functools import reduce` and then call reduce() directly.

In [ ]:
# list1 = [10,3,4,5,6,7]
# reduce(func, list1,10) # 7+5,12+6,18+7,25

In [27]:
help(reduce)

NameError: name 'reduce' is not defined

In [28]:
import functools

In [29]:
print(dir(functools))

['GenericAlias', 'RLock', 'WRAPPER_ASSIGNMENTS', 'WRAPPER_UPDATES', '_CacheInfo', '_HashedSeq', '_NOT_FOUND', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_c3_merge', '_c3_mro', '_compose_mro', '_convert', '_find_impl', '_ge_from_gt', '_ge_from_le', '_ge_from_lt', '_gt_from_ge', '_gt_from_le', '_gt_from_lt', '_initial_missing', '_le_from_ge', '_le_from_gt', '_le_from_lt', '_lru_cache_wrapper', '_lt_from_ge', '_lt_from_gt', '_lt_from_le', '_make_key', '_unwrap_partial', 'cache', 'cached_property', 'cmp_to_key', 'get_cache_token', 'lru_cache', 'namedtuple', 'partial', 'partialmethod', 'recursive_repr', 'reduce', 'singledispatch', 'singledispatchmethod', 'total_ordering', 'update_wrapper', 'wraps']

### a. Example 1: 
**Suppose given a list of numbers and we want to get the accumulative sum of all the numbers in that list**

**Option 1: We can do this using a simple loop**

In [30]:
numbers = [47, 11, 42, 13]
SUM = 0
for i in numbers:
    SUM = SUM + i
print("Sum of all the numbers of List is :", SUM)

Sum of all the numbers of List is : 113

In [31]:
# i = 0
# total = 0
# while i<len(numbers):
#     total = total+numbers[i]
#     i=i+1
# print("Total is : ", total)

**Option 2: We can do this using `reduce()` function and passing an appropriate regular function as its first argument. Remember this has to be a function that receives two arguments**

In [ ]:
#Example: Note the call to reduce(), 
# applies myadd() to the items in the numbers list to compute their accumulative sum    

from functools import reduce
def myadd(a,b):
    return a+b

numbers = [47, 11, 42, 13]

rv = reduce(myadd, numbers)
rv

**Option 3: Let us use Lambda Function as first argument to `reduce()` function to perform the above task**

In [32]:
# Example: Use lambda function for above task
from functools import reduce

numbers = [47, 11, 42, 13]

rv = reduce(lambda x,y: x+y, numbers)
rv

113

### b. Example 2: 
**Multiplying all numeric values of a list with each other**

In [33]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]

rv = reduce(lambda x,y: x*y, numbers)
rv

120

### c. Example 3: 
**Finding minimum or maximum number from a list of numbers**

In [34]:
from functools import reduce
numbers = [-10, -20, -93, -4, 5]


rv1 = reduce(lambda a, b: a if a > b else b, numbers)
vr2 = reduce(lambda a,b: a if a<b else b, numbers )


rv1, vr2

(5, -93)

In [35]:
from functools import reduce
numbers = [10, 20, 93, 4, 5]


rv1 = reduce(lambda a, b: a if a < b else b, numbers)
rv2 = reduce(lambda a, b: a if a > b else b, numbers)

rv1, rv2

(4, 93)

## Practice :
#### Python Program to find the Minimum and Maximum Number in a List with their position using for loop and if statement.

In [36]:
numbers = [10, 20, 93, 4, 5, 54, 88, 90, 8, 2, 67,108,1,-1,25]
numbers

[10, 20, 93, 4, 5, 54, 88, 90, 8, 2, 67, 108, 1, -1, 25]

In [38]:
minNum = numbers[0]
maxNum = numbers[0]
minIndex = 0
maxIndex = 0

In [39]:
for i in range(1, len(numbers)):
    if maxNum < numbers[i]:
        maxNum = numbers[i]
        maxIndex = i
    elif minNum > numbers[i]:
        minNum = numbers[i]
        minIndex = i
    else:
        pass

In [40]:
print(f"{minNum} is minimun number in the list having index {minIndex}")
print(f"{maxNum} is maximum number in the list having index {maxIndex}")

-1 is minimun number in the list having index 13
108 is maximum number in the list having index 11

### d. Example 4: 
**Checking if ALL values in an iterable are true**

In [41]:
from functools import reduce
mylist = [0, 0, 1, 0, 0]

rv = reduce(lambda a, b: bool(a and b), mylist)
rv

False

### e. Example 5: 
**Checking if ANY value in an iterable is true**

In [42]:
from functools import reduce
mylist = [0, 1, 0, 0, 0]

rv = reduce(lambda a, b: bool(a or b), mylist)
rv

True

In [ ]:
# User-define functions
# Built-in functions 
#     - map
#     - filter
#     - reduce

## 6. Using Lambda Function as Argument to built-in `sorted()` Function
- We have already seen the use of `sorted()` function in our previous session of Tuples.
- The only required argument to `sorted()` function is an iterable. 
- It sorts the items of the given iterable in ascending order (by default) and returns the sorted iterable as a list, without modifying the original iterable.
```
sorted(iterable, key=None, reverse=False)
```
We also have seen the use of `key` argument, where we can pass a function that is applied once to each element of the iterable before sorting it.

### a. Example 1: 
**Consider a tuple of strings `('abcz', 'xyza', 'bas', 'ali')`. If we pass this tuple to `sorted()` function, it will sort the list alphabatically.**

In [ ]:
t1 = ('abcz', 'xyza', 'bas', 'ali')

rv = sorted(t1)

print("Sorted tuple: ", rv)
print("Original tuple remains as such: ", t1)

**Suppose, we want to sort the above tuple by last character of strings within the tuple so that the output is like : `('xyza', 'ali', 'bas', 'abcz')`. We can do this by passing an appropriate regular function to `key` argument of the `sorted()` function**

In [ ]:
# First Method using user defined Function
def last(s):
    return s[-1]

In [ ]:
t1 = ('abcz', 'xyza', 'bas', 'ali')
rv = sorted(t1, key=last)

In [ ]:
print("Sorted tuple: ", rv)
print("Original tuple remains as such: ", t1)

**Let us use Lambda Function as `key` argument to `sorted()` function to perform the above task**

In [ ]:
# Second Method using Lambda function
t1 = ('abcz', 'xyza', 'bas', 'ali')
rv = sorted(t1, key = lambda arg : arg[-1])
print("Sorted tuple: ", rv)
print("Original tuple remains as such: ", t1)

### b. Example 2: 
**Suppose given a list in which each element is a two valued tuple `[(4, 30), (6, 15), (1, 25), (9, 8)]`. If we call `sorted()` function on this list it will sort it based on the first element of each tuple.**

**Simple sorting of above list using `sorted()` function, will sort by first element**

In [43]:
mylist = [(4, 30), (6, 15), (1, 25), (9, 8)]
sorted(mylist)

[(1, 25), (4, 30), (6, 15), (9, 8)]

**But we want to sort the above list based on the second element of each tuple, so that the output is like: `[(9, 8), (6, 15), (1, 25), (4, 30)]`. We can do this by passing an appropriate regular function to `key` argument of the `sorted()` function**

In [44]:
# First Method using user defined Function
mylist = [(4, 30), (6, 15), (1, 25), (9, 8)]

def func(item):
    return item[1]

mylist_sorted = sorted(mylist, key = func)
mylist_sorted

[(9, 8), (6, 15), (1, 25), (4, 30)]

**Let us use Lambda Function as `key` argument to `sorted()` function to perform the above task**

In [45]:
# Second method  using lambda function
mylist = [(4, 30), (6, 15), (1, 25), (9, 8)]

mylist_sorted = sorted(mylist, key = lambda element:element[1])
mylist_sorted

[(9, 8), (6, 15), (1, 25), (4, 30)]

## 7.  Bonus

### a. The `zip()` Function
- The `zip(*iterables)` function returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables. 
- The iterator stops when the shortest input iterable is exhausted. 
- With a single iterable argument, it returns an iterator of 1-tuples. With no arguments, it returns an empty iterator.

In [ ]:
# studentName = []
# studentMarks = []
# zip(studentMarks, studentName) #-> List of tuple
# I can create a dictionary from list of tuple , which contains key as student name and value as student marks

In [54]:
x = [1,2,3]
y = [4,5,6]
zip_object = zip(x ,y)
print(zip_object)

<zip object at 0x142285140>

In [55]:
# # dir(zip_object)
# for i in zip_object:
#     print(i)

In [56]:
mylist = list(zip_object)
mylist

[(1, 4), (2, 5), (3, 6)]

In [57]:
x = [1, 2, 3, 4]
y = [5, 6, 7, 8]
z = [9, 10, 11, 12]

zip_object = zip(x,y,z)

mylist = list(zip_object)
mylist

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

**The iterator stops when the shortest input iterable is exhausted.**

In [58]:
x = [1,2,3]
y = [4,5,6,7,8]

zip_object = zip(x,y)

mylist = list(zip_object)
mylist

[(1, 4), (2, 5), (3, 6)]

**With a single iterable argument, it returns an iterator of 1-tuples.**

In [59]:
x = [1, 2, 3, 4]

zip_object = zip(x)

mylist = list(zip_object)
mylist

[(1,), (2,), (3,), (4,)]

**With no arguments, it returns an empty iterator.**

In [60]:
zip_object = zip()

mylist = list(zip_object)
mylist

[]

### b. Iterators and Generators
- **Iterators**: Objects that implement the `__iter__()` and `__next__()` methods, allowing iteration over a sequence of values.
- **Generators**: Special types of iterators defined with the yield keyword, enabling easy creation of iterators without needing to implement `__iter__()` and `__next__()` methods.

**Example: Iterator Objects**

In [61]:
mylist = ['banana', 'mango', 'grapes']
a = iter(mylist)
a

In [62]:
print(next(a))
print(next(a))
print(next(a))

banana
mango
grapes

In [63]:
next(a)

StopIteration:

**Generators:**
- Python provides a generator to create your own iterator function. A generator is a special type of function which does not return a single value, instead, it returns an iterator object with a sequence of values. 
- Today let me tell you as how to write a generator function in Python. A generator is a function that can send back a value and then later resume its execution from where it left off. 
- A generator function allows us to generate a sequence of values over time. 
- The main difference between a regular function and a generator function is that instead of using a `return` statement, the generator function uses the `yield` statement
- So once a generator function is called, it don't actually return a value and then exit, rather it automatically suspend and resume its execution and state around the last point of value generation.

**Example 1: Writing a Hello World Generator Function to understand the `yield` keyword**

In [12]:
# def fun():
#     return "Ehtisham"
#     print("Ali")
# fun()

In [64]:
def mygenerator():
    print('First item')
    yield 10

    print('Second item')
    yield 20

    print('Last item')
    yield 30

In [65]:
gen = mygenerator() 
gen

In [66]:
print(next(gen))

First item
10

In [67]:
print(next(gen))

Second item
20

In [68]:
print(next(gen))

Last item
30

In [69]:
print(next(gen))

StopIteration:

**Example 2: Writing a Generator Function that returns cubes of numbers**

In [70]:
def gencubes(n):
    for num in range(n):
        yield num**3
a = gencubes(6)
print(next(a))
print(next(a))
print(next(a))

0
1
8

In [71]:
for x in a:
    print(x)

27
64
125

>**The main advantage of using a generator function over the iterator is that elements are generated dynamically. Since the next item is generated only after the first is consumed, it is more memory efficient than the iterator.**

In [ ]:
# ab=lambda x,y:x+y
# map(func, iterable)
# filter(func, iterable )
# reduce(func, iterable) -> return a single
# sorted(iterable, key=func)
# zip(iterables)
# generator

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What is a function?
2. What are the benefits of using functions?
3. What are some built-in functions in Python?
4. How do you define a function in Python? Give an example.
5. What is the body of a function?
6. When are the statements in the body of a function executed?
7. What is meant by calling or invoking a function? Give an example.
8. What are function arguments? How are they useful?
9. How do you store the result of a function in a variable?
10. What is the purpose of the `return` keyword in Python?
11. Can you return multiple values from a function?
12. Can a `return` statement be used inside an `if` block or a `for` loop?
13. Can the `return` keyword be used outside a function?
14. What is scope in a programming region? 
15. How do you define a variable inside a function?
16. What are local & global variables?
17. Can you access the variables defined inside a function outside its body? Why or why not?
18. What do you mean by the statement "a function defines a scope within Python"?
19. Do for and while loops define a scope, like functions?
20. Do if-else blocks define a scope, like functions?
21. What are optional function arguments & default values? Give an example.
22. Why should the required arguments appear before the optional arguments in a function definition?
23. How do you invoke a function with named arguments? Illustrate with an example.
24. Can you split a function invocation into multiple lines?
25. Write a function that takes a number and rounds it up to the nearest integer.
26. What is a docstring? Why is it useful?
27. How do you display the docstring for a function?
28. What are *args and **kwargs? How are they useful? Give an example.
29. Can you define functions inside functions? 
30. What is function closure in Python? How is it useful? Give an example.
31. What is recursion? Illustrate with an example.
32. Can functions accept other functions as arguments? Illustrate with an example.
33. Can functions return other functions as results? Illustrate with an example.
37. Can you invoke a function inside the body of another function? Give an example.
38. What is the single responsibility principle, and how does it apply while writing functions?
39. What some characteristics of well-written functions?
40. Can you use if statements or while loops within a function? Illustrate with an example.


1. What is a function?
2. What are the benefits of using functions?
3. What are some built-in functions in Python?
4. How do you define a function in Python? Give an example.
5. What is the body of a function?
6. When are the statements in the body of a function executed?
7. What is meant by calling or invoking a function? Give an example.
8. What are function arguments? How are they useful?
9. How do you store the result of a function in a variable?
10. What is the purpose of the `return` keyword in Python?
11. Can you return multiple values from a function?
12. Can a `return` statement be used inside an `if` block or a `for` loop?
13. Can the `return` keyword be used outside a function?
14. What is scope in a programming region? 
15. How do you define a variable inside a function?
16. What are local & global variables?
17. Can you access the variables defined inside a function outside its body? Why or why not?
18. What do you mean by the statement "a function defines a scope within Python"?
19. Do for and while loops define a scope, like functions?
20. Do if-else blocks define a scope, like functions?
21. What are optional function arguments & default values? Give an example.
22. Why should the required arguments appear before the optional arguments in a function definition?
23. How do you invoke a function with named arguments? Illustrate with an example.
24. Can you split a function invocation into multiple lines?
25. Write a function that takes a number and rounds it up to the nearest integer.
26. What is a docstring? Why is it useful?
27. How do you display the docstring for a function?
28. What are *args and **kwargs? How are they useful? Give an example.
29. Can you define functions inside functions? 
31. What is recursion? Illustrate with an example.
32. Can functions accept other functions as arguments? Illustrate with an example.
33. Can functions return other functions as results? Illustrate with an example.
34. What are decorators? How are they useful?
35. Implement a function decorator which prints the arguments and result of wrapped functions.
36. What are some in-built decorators in Python?
37. Can you invoke a function inside the body of another function? Give an example.
38. What is the single responsibility principle, and how does it apply while writing functions?
39. What some characteristics of well-written functions?
40. Can you use if statements or while loops within a function? Illustrate with an example.
41. Compare the use of lambda functions in sorted(), map(), filter(), reduce(), and accumulate() functions and their different use cases.
43. Decorators can be thought of as functions which modify the functionality of another function. They help to make your code shorter and more "Pythonic". Search and write down sample code snippets to understand Decorators in Python.

#### What is scope:
The scope of a variable is the region of space where the value of that variable is valid. E.g: The scope of local variable is inside the function.

### What is Recursion:
It is a process in which a function calls itself directly or indirectly.

<img align="center" width="500" height="300"  src="images/python_recursion.jpg" >

In [72]:
# Program to print factorial of a number recursively.
def factorial(n):
    if n ==1:
        return n
    else:
        return n*factorial(n-1)

In [73]:
def Main():
    number = int(input("Enter a number to calculate its Factorial : "))
    if number < 0:
        print("Invalid Number! Please enter a positive integer number!")
    elif number==0:
        print(F"Factorial of {number} is 1.")
    else:
        print(f"Factorial of {number} is : {factorial(number)}")
Main()

Enter a number to calculate its Factorial :  10

Factorial of 10 is : 3628800

In [74]:
10*9*8*7*6*5*4*3*2*1

3628800

In [27]:
# 2! = 2*1
# 3! = 3*2*1
# 5! = 5*4*3*2*1

Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.
Sample String : `The quick Brow Fox`
#### Expected Output :
- No. of Upper case characters : 3
- No. of Lower case Characters : 12

In [28]:
def CalculateLetters(string):
    lowercase = 0
    uppercase = 0
    for i in string:
        if i.islower():
            lowercase = lowercase+1
        if i.isupper():
            uppercase = uppercase+1
    print("No.of Upper case characters is : ", uppercase)
    print("No.of Lower case characters is : ", lowercase)

In [29]:
def Main():
    string = input("Enter a string : ")
    CalculateLetters(string)
Main()

Enter a string : The quick Brow Fox
No.of Upper case characters is :  3
No.of Lower case characters is :  12

In [1]:
from IPython.core.display import HTML

style = """
    <style>
        body {
            background-color: #f2fff2;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            color: #4295F4;
            text-decoration: underline;
            padding-top: 15px;
        }
        
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #4A000A;
            text-decoration: underline;
            padding-top: 10px;
        }
        
        h3 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #f0081e;
            text-decoration: underline;
            padding-top: 5px;
        }

        
        p {
            text-align: center;
            font-size: 12 px;
            color: #0B9923;
        }
    </style>
"""

html_content = """
<h1>Hello</h1>
<p>Hello World</p>
<h2> Hello</h2>
<h3> World </h3>
"""

HTML(style + html_content)